<div class="panel panel-default">
    <div class="panel-heading collapsed" data-parent="#panel-l3" data-toggle="collapse" data-target="#collapseTwo5">
        <h4 class="panel-title pull-left">
            #GoodVibes Community Video
        </h4>

        <span ng-show="taskcomplete35" class="pull-right" ><strong class="icon-tick"></strong></span>
        <span ng-hide="taskcomplete35" class="pull-right" ><strong>400</strong> vibes </span>
    </div>
    <div id="collapseTwo5" class="panel-collapse collapse">
        <div class="panel-body">
            <p><strong>Task description:</strong></p>
            Take a look at the #GoodVibes community that you are all a part of. Feel the excitement! Feel the passion! Feel the #GoodVibes
            <br/><br/>
            Share the video on facebook and win 400 vibes.
            <br/><br/>
            <iframe width="100%" height="315px" src="//www.youtube.com/embed/qQLhhS0vI8E?list=UUzeiZ7_xnJMepZN8h0kONig" frameborder="0" allowfullscreen></iframe>
            <p ng-show="taskcomplete35"><br>You have already completed this task</p>
        </div>
        <div class="panel-body">
            <div class="tab-content custom-form">
                <div class="tab-pane fade in active" id="add-social-link">
                    <form ng-hide="taskcomplete35" name="taskForm" ng-submit="sharevideo(taskForm.$valid)" novalidate>
                        <div class="form-group">
                            <input type="text" class="form-control data_field" name="data_field"
                                   placeholder="video url" value="https://www.youtube.com/watch?v=qQLhhS0vI8E&list=UUzeiZ7_xnJMepZN8h0kONig" ng-model="link" ng-readonly="true">
                            <span class="icon_clear icon-close-circle"></span>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<textarea name="message" id="" cols="30" rows="5" class="form-control"-->
                                      <!--placeholder="#goodvibes your message" ng-model="message" required ng-maxlength="120"></textarea>-->
                        <!--</div>-->
                        <p ng-show="taskForm.message.$invalid && !taskForm.message.$pristine" class="help-block">Your message can only be 120 characters long</p>
                        <div class="form-group">
                            <div class="pull-right">
                                <!--<input type="checkbox" id="post-fb" value="option1" ng-model="checkedfb"  class="custom icon-checked" >-->
                                <!--<label for="post-fb">-->
                                    <!--<span class="circle-icon-fb" ng-class="{'social-active': checkedfb==true}"></span>-->
                                <!--</label>-->
                                <!--<input type="checkbox" id="post-tw" value="option2" ng-model="checkedtw" class="custom icon-checked">-->
                                <!--<label for="post-tw">-->
                                    <!--<span class="circle-icon-tw" ng-class="{'social-active': checkedtw==true}"></span>-->
                                <!--</label>-->
                                <!--<input type="checkbox" id="post-g" value="option2" class="custom icon-checked">
                                <label for="post-g">
                                    <span class="circle-icon-g"></span>
                                </label>-->
                                <button type="submit" class="btn btn-success" ng-disabled="taskForm.$invalid">Share on Facebook</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--<div class="panel-body">-->
            <!--<div class="tab-content custom-form">-->
                <!--<div class="tab-pane fade in active">-->
                    <!--<form name="vibervideoForm" ng-hide="taskcomplete35" ng-submit="submitvideoForm(vibervideoForm.$valid)" novalidate>-->
                        <!--<div class="row">-->
                            <!--<div class="col-lg-2">-->
                                <!--<div class="que-box">Q</div>-->
                            <!--</div>-->
                            <!--<div class="col-lg-22">-->
                                <!--<p class="question-txt">Rate this video.-->
                                    <!--<small>Please select one</small>-->
                                <!--</p>-->
                                <!--<div class="form-group">-->
                                    <!--<input type="radio" id="viber1" name="vibervideo" class="custom-radio" ng-model="rateviber" value="1" required>-->
                                    <!--<label for="viber1">Bad Vibes</label>-->
                                    <!--<input type="radio" id="viber2" name="vibervideo" class="custom-radio" ng-model="rateviber" value="2" required>-->
                                    <!--<label for="viber2">Can be better?</label>-->
                                    <!--<input type="radio" id="viber3" name="vibervideo" class="custom-radio" ng-model="rateviber" value="3" required>-->
                                    <!--<label for="viber3">It's nice</label>-->
                                    <!--<input type="radio" id="viber4" name="vibervideo" class="custom-radio" ng-model="rateviber" value="4" required>-->
                                    <!--<label for="viber4">Good Vibes</label>-->
                                    <!--<input type="radio" id="viber5" name="vibervideo" class="custom-radio" ng-model="rateviber" value="5" required>-->
                                    <!--<label for="viber5">Epic Vibes</label>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<div class="pull-right">-->
                                <!--<button type="submit" class="btn btn-success" ng-disabled="vibervideoForm.$invalid">submit</button>-->
                            <!--</div>-->

                        <!--</div>-->

                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>