<div class="panel panel-default">
    <div class="panel-heading collapsed" data-parent="#panel-l2" data-toggle="collapse" data-target="#collapseOne2">
        <h4 class="panel-title pull-left">
            Activate your most contacted friends on Viber
        </h4>

        <span class="pull-right" ><strong class="icon-tick"></strong></span>
        <span class="pull-right" ><strong>1000</strong> vibes </span>
    </div>
    <div id="collapseOne2" class="panel-collapse collapse">
        <div class="panel-body">
            <p><strong>Task description:</strong></p>
            Activate your most contacted friends on viber, tell them how chatting is fun on Viber and share some
            #GoodVibes with them
            <br/><br/>
            Get 1000 vibes for answering the questions.
            <br/><br/>
        </div>
    </div>
</div>