<div class="panel panel-default">
    <div class="panel-heading collapsed" data-parent="#panel-l3" data-toggle="collapse" data-target="#collapseTwo3">
        <h4 class="panel-title pull-left">
            Back to School!
        </h4>
        <span class="pull-right" ng-show="taskcomplete33"><strong class="icon-tick"></strong></span>
        <span class="pull-right" ng-hide="taskcomplete33"><strong>2000</strong> vibes </span>

    </div>

    <div id="collapseTwo3" class="panel-collapse collapse">
        <div class="panel-body">
            <p><strong>Task description:</strong></p>
            School is the place where you spend maximum years during your education. Never forget those frineds,
            Bring all those friends back on a Viber Group and spread #GoodVibes using stickers, doodles, moments.
            <br/><br/>
        </div>
        <div class="panel-body">
            <div class="upload-nav text-right">
                <!--<span ng-show="s3success31" class="alert-success pull-left">{{added31}} added successfully</span>-->
                <span class="alert-success pull-right">{{submitted33}} Submitted</span>
                <!--<ul>-->
                <!--<li class="active"><a href="#added" target="_self" data-toggle="tab">{{submitted}} Submitted</a></li>-->
                <!--&lt;!&ndash;<li><a href="#pending" data-toggle="tab">12 Pending Approval</a></li>-->
                <!--<li><a href="#rejected" data-toggle="tab" class="rejected-photo">6 Rejected</a></li>&ndash;&gt;-->
                <!--</ul>-->
            </div>
            <form name="photoForm" ng-submit="onFileUploadl3task3()" novalidate>
                <div class="tab-pane fade in active new-upload">
                    <a ng-model="serSubmitted33" ng-repeat="serSubmit in serSubmitted33" href=""><img ng-src="https://s3-ap-southeast-1.amazonaws.com/viber-uploads/level3task3/{{serSubmit}}" height="78" width="78" alt=""/></a>
                    <a ng-model="s3added33" ng-repeat="s3add in s3added33" href=""><img ng-src="{{s3add}}" height="78" width="78" alt=""/></a>


                    <a ng-hide="taskcomplete33" href="#." onclick="document.getElementById('filel3task3').click(); return false;"class="upload-img">
                        <span class="icon-plus-circle"></span>
                        Choose<br>
                        photos
                    </a>
                    <input id="filel3task3" type="file" accept="image/*" style="visibility: hidden;" ng-file-select="onFileSelectl3task3($files)"/>
                    <p style="margin-left: 18px;">
                        <button ng-hide="taskcomplete33"type="submit" class="btn btn-success radius-none" ng-disabled="zeroselected33">submit</button>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
</div>