<div class="vi-login-box carousel-box">
    <div id="carousel-one" class="carousel slide" data-ride="carousel" data-interval="false">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <p class="text-center"><img src="images/viber-team-say.png" alt="" class="img-responsive"
                                            style="margin: 0 auto;"/></p>
                <i>Cheat #4</i>

                <p>Boost your chances of winning by inviting 50 Facebook friends. 200 bonus vibes each for
                    the first 10 who invite</p>

                <p class="text-center">
                    <button class="btn btn-success">invite now</button>
                </p>
            </div>
            <div class="item">
                <p class="text-center"><img src="images/viber-team-say.png" alt="" class="img-responsive"
                                            style="margin: 0 auto;"/></p>
                <i>Cheat #5</i>

                <p>Boost your chances of winning by inviting 50 Facebook friends. 200 bonus vibes each for
                    the first 10 who invite</p>

                <p class="text-center">
                    <button class="btn btn-success">invite now</button>
                </p>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-one" data-slide="prev">
            <span class="icon-angle-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-one" data-slide="next">
            <span class="icon-angle-right"></span>
        </a>
    </div>
</div>