<div class="vi-login-box carousel-box">
    <div id="carousel-one" class="carousel slide" data-ride="carousel" data-interval="false">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <p class="text-center"><img src="images/viber-team-say.png" alt="" class="img-responsive"
                                            style="margin: 0 auto;"/></p>
                <i>Cheat #1</i>

                <p>There are different characters within stickers. Find out who they are! </p>&nbsp;

                <p class="text-center">
                    <!--<button class="btn btn-success">invite now</button>-->
                </p>
            </div>
            <div class="item">
                <p class="text-center"><img src="images/viber-team-say.png" alt="" class="img-responsive"
                                            style="margin: 0 auto;"/></p>
                <i>Cheat #2</i>

                <p>Viber also has a desktop application! Download and check out the exciting offers available.</p>

                <p class="text-center">
                    <!--<button class="btn btn-success">invite now</button>-->
                </p>
            </div>
            <div class="item">
                <p class="text-center"><img src="images/viber-team-say.png" alt="" class="img-responsive"
                                            style="margin: 0 auto;"/></p>
                <i>Cheat #3</i>

                <p>Play pictionary on Viber with doodles. </p>&nbsp;&nbsp;&nbsp;&nbsp;

                <p class="text-center">
                    <!--<button class="btn btn-success">invite now</button>-->
                </p>
            </div>
            <div class="item">
                <p class="text-center"><img src="images/viber-team-say.png" alt="" class="img-responsive"
                                            style="margin: 0 auto;"/></p>
                <i>Cheat #4</i>

                <p>Guess the name of the song in task 3. </p>&nbsp;&nbsp;&nbsp;&nbsp;

                <p class="text-center">
                    <!--<button class="btn btn-success">invite now</button>-->
                </p>
            </div>
            <div class="item">
                <p class="text-center"><img src="images/viber-team-say.png" alt="" class="img-responsive"
                                            style="margin: 0 auto;"/></p>
                <i>Cheat #5</i>

                <p>More apps means more battery usage. Save your battery. Stick to Viber! </p> &nbsp;

            </div>
        </div>
        <!-- Controls -->
        <br>
        <br>
        <br>
        <a class="left carousel-control" target="_self" href="#carousel-one" data-slide="prev">
            <span class="icon-angle-left"></span>
        </a>
        <a class="right carousel-control" target="_self" href="#carousel-one" data-slide="next">
            <span class="icon-angle-right"></span>
        </a>
    </div>
</div>