<div class="vi-login-box carousel-box">
    <div id="carousel-one" class="carousel slide" data-ride="carousel" data-interval="false">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <p class="text-center"><img src="images/viber-team-say.png" alt="" class="img-responsive"
                                            style="margin: 0 auto;"/></p>
                <i>Cheat #1</i>

                <p>Your first task is here. Try to get as many likes and re-tweets you can. Perhaps a surprise in store for you. </p>

                <p class="text-center">
                    <!--<button class="btn btn-success">invite now</button>-->
                </p>
            </div>
            <div class="item">
                <p class="text-center"><img src="images/viber-team-say.png" alt="" class="img-responsive"
                                            style="margin: 0 auto;"/></p>
                <i>Cheat #2</i>

                <p>Connect your social handles if you havnt already.</p>

                <p class="text-center">
                    <!--<button class="btn btn-success">invite now</button>-->
                </p>
            </div>
        </div>
        <!-- Controls -->
        <!--<a class="left carousel-control" target="_self" href="#carousel-one" data-slide="prev">-->
            <!--<span class="icon-angle-left"></span>-->
        <!--</a>-->
        <!--<a class="right carousel-control" target="_self" href="#carousel-one" data-slide="next">-->
            <!--<span class="icon-angle-right"></span>-->
        <!--</a>-->
    </div>
</div>