<div class="col-sm-13 col-sm-offset-1">
<h1>Complete Tasks. Unlock Levels. Win Big!</h1>

<div class="level-box">
    <div class="level-meter clearfix">
        <div class="level-title">{{identity.currentUser.level}}</div>
        <div class="progress-box">
            <div class="row pull-left progress-row">
            <div class="col-xs-6"></div>
            <div class="col-xs-6"></div>
            <div class="col-xs-6"></div>
            <div class="col-xs-6" style="border: 0px;"></div>
            <div class="progress-bar" style="width:{{identity.currentUser.complete}}%;"></div>
            </div>
            <span ng-style="myStyle" class="progress-txt">{{identity.currentUser.complete}}%</span>
        </div>
    </div>
    <div class="panel-group panel-infoGroup" id="panel-l1">
        <div class="panel">
        <task-survey></task-survey>
        <liken-follow></liken-follow>
        <task-insert-links></task-insert-links>
        <task-upload-photos></task-upload-photos>
        <invite-fb-friends></invite-fb-friends>
        </div>


      <!--  <task-insert-mobile></task-insert-mobile> -->




    </div>
</div>
<!--<div class="level-box">-->
    <!--<div class="level-meter clearfix">-->
        <!--<div class="level-title">Level 2</div>-->
        <!--<div class="progress-box">-->
            <!--Unlock this level to collect 400 bonus vibes-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="panel-group panel-infoGroup">-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseOne1">-->
                <!--<h4 class="panel-title pull-left">-->
                    <!--Upload photos-->
                <!--</h4>-->
                <!--<span class="pull-right"><strong class="icon-lock"></strong></span>-->
            <!--</div>-->
            <!--<div id="collapseOne1" class="panel-collapse collapse">-->
                <!--<div class="panel-body">-->
                    <!--<p><strong>Task description:</strong></p>-->
                    <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad-->
                    <!--squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa-->
                    <!--nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid-->
                    <!--single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft-->
                    <!--beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice-->
                    <!--lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you-->
                    <!--probably haven't heard of them accusamus labore sustainable VHS.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseTwo2">-->
                <!--<h4 class="panel-title pull-left">-->
                    <!--Insert Social Links-->
                <!--</h4>-->
                <!--<span class="pull-right"><strong class="icon-lock"></strong></span>-->
            <!--</div>-->
            <!--<div id="collapseTwo2" class="panel-collapse collapse">-->
                <!--<div class="panel-body">-->
                    <!--<p><strong>Task description:</strong></p>-->
                    <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad-->
                    <!--squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa-->
                    <!--nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid-->
                    <!--single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft-->
                    <!--beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice-->
                    <!--lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you-->
                    <!--probably haven't heard of them accusamus labore sustainable VHS.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseThree3">-->
                <!--<h4 class="panel-title pull-left">-->
                    <!--Upload college photos-->
                <!--</h4>-->
                <!--<span class="pull-right"><strong class="icon-lock"></strong></span>-->
            <!--</div>-->
            <!--<div id="collapseThree3" class="panel-collapse collapse">-->
                <!--<div class="panel-body">-->
                    <!--<p><strong>Task description:</strong></p>-->
                    <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad-->
                    <!--squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa-->
                    <!--nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid-->
                    <!--single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft-->
                    <!--beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice-->
                    <!--lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you-->
                    <!--probably haven't heard of them accusamus labore sustainable VHS.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseFour4">-->
                <!--<h4 class="panel-title pull-left">-->
                    <!--Insert links of Viber out Videos-->
                <!--</h4>-->
                <!--<span class="pull-right"><strong class="icon-lock"></strong></span>-->
            <!--</div>-->
            <!--<div id="collapseFour4" class="panel-collapse collapse">-->
                <!--<div class="panel-body">-->
                    <!--<p><strong>Task description:</strong></p>-->
                    <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad-->
                    <!--squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa-->
                    <!--nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid-->
                    <!--single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft-->
                    <!--beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice-->
                    <!--lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you-->
                    <!--probably haven't heard of them accusamus labore sustainable VHS.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="level-box">-->
    <!--<div class="level-meter clearfix">-->
        <!--<div class="level-title">Level 3</div>-->
        <!--<div class="progress-box">-->
            <!--Unlock this level to collect 400 bonus vibes-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="panel-group panel-infoGroup">-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseOne5">-->
                <!--<h4 class="panel-title pull-left">-->
                    <!--Upload photos-->
                <!--</h4>-->
                <!--<span class="pull-right"><strong class="icon-lock"></strong></span>-->
            <!--</div>-->
            <!--<div id="collapseOne5" class="panel-collapse collapse">-->
                <!--<div class="panel-body">-->
                    <!--<p><strong>Task description:</strong></p>-->
                    <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad-->
                    <!--squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa-->
                    <!--nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid-->
                    <!--single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft-->
                    <!--beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice-->
                    <!--lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you-->
                    <!--probably haven't heard of them accusamus labore sustainable VHS.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseTwo6">-->
                <!--<h4 class="panel-title pull-left">-->
                    <!--Insert Social Links-->
                <!--</h4>-->
                <!--<span class="pull-right"><strong class="icon-lock"></strong></span>-->
            <!--</div>-->
            <!--<div id="collapseTwo6" class="panel-collapse collapse">-->
                <!--<div class="panel-body">-->
                    <!--<p><strong>Task description:</strong></p>-->
                    <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad-->
                    <!--squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa-->
                    <!--nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid-->
                    <!--single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft-->
                    <!--beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice-->
                    <!--lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you-->
                    <!--probably haven't heard of them accusamus labore sustainable VHS.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseThree7">-->
                <!--<h4 class="panel-title pull-left">-->
                    <!--Upload college photos-->
                <!--</h4>-->
                <!--<span class="pull-right"><strong class="icon-lock"></strong></span>-->
            <!--</div>-->
            <!--<div id="collapseThree7" class="panel-collapse collapse">-->
                <!--<div class="panel-body">-->
                    <!--<p><strong>Task description:</strong></p>-->
                    <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad-->
                    <!--squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa-->
                    <!--nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid-->
                    <!--single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft-->
                    <!--beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice-->
                    <!--lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you-->
                    <!--probably haven't heard of them accusamus labore sustainable VHS.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion2"-->
                 <!--data-target="#collapseFour8">-->
                <!--<h4 class="panel-title pull-left">-->
                    <!--Insert links of Viber out Videos-->
                <!--</h4>-->
                <!--<span class="pull-right"><strong class="icon-lock"></strong></span>-->
            <!--</div>-->
            <!--<div id="collapseFour8" class="panel-collapse collapse">-->
                <!--<div class="panel-body">-->
                    <!--<p><strong>Task description:</strong></p>-->
                    <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad-->
                    <!--squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa-->
                    <!--nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid-->
                    <!--single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft-->
                    <!--beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice-->
                    <!--lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you-->
                    <!--probably haven't heard of them accusamus labore sustainable VHS.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
</div>