<div class="col-sm-13 col-sm-offset-1">
<h1>Complete Tasks. Unlock Levels. Win Big!</h1>
<script type="text/ng-template" id="completeProfile.html">
    <div class="modal-header">
        <h1 class="modal-title">Please complete your profile!</h1>
    </div>
    <div class="modal-body">
        <form class="form-horizontal form-profile" role="form" name="settingsForm" ng-submit="ok(settingsForm.$valid)" novalidate>
            <div class="form-group">
                <label for="inputLN" class="col-sm-4 control-label">Name</label>
                <div class="col-sm-20">
                    <input type="text" name="name" class="form-control" id="inputLN" placeholder="Name" ng-model="identity.currentUser.name" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Sex</label>
                <div class="col-sm-20">
                    <input type="radio" name="gender" id="male" value="male" class="custom" ng-model="identity.currentUser.gender">
                    <label for="male">Male</label>
                    <input type="radio" name="gender" id="female" value="female" class="custom" ng-model="identity.currentUser.gender">
                    <label for="female">
                        Female
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="inputM" class="col-sm-4 control-label">Mobile</label>
                <div class="col-sm-20">
                    <input type="text" name="mobile" ng-model="identity.currentUser.mobile" ng-minlength="10" ng-maxlength="10" class="form-control" id="inputM" placeholder="Mobile" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">City</label>
                <div class="col-sm-20">
                    <input type="text" ng-model="identity.currentUser.location.name" typeahead="place.CityName for place in getLocation($viewValue) " placeholder="City" typeahead-on-select='onSelectLocation($item)' class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">College</label>
                <div class="col-sm-20">
                    <input type="text" ng-model="identity.currentUser.college.name" typeahead="clg.CollegeName for clg in getCollege($viewValue)" typeahead-items='5' placeholder="College" typeahead-on-select='onSelectCollege($item)'class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-20 text-right">
                    <button type="submit" class="btn btn-success" ng-disabled="settingsForm.$invalid">save</button>
                </div>
            </div>
        </form>
    </div>
</script>

<!--<p ng-if="!profilecomplete">Please complete your profile first from <a href="#mysettings"> My Settings</a></p>-->
<div class="level-box">
    <div class="level-meter clearfix">
        <div class="level-title">{{identity.currentUser.level1}}</div>
        <div class="progress-box">
            <div class="row pull-left progress-row">
            <div class="col-xs-6"></div>
            <div class="col-xs-6"></div>
            <div class="col-xs-6"></div>
            <div class="col-xs-6" style="border: 0px;"></div>
            <div class="progress-bar" style="width:{{identity.currentUser.complete1}}%;"></div>
            </div>
            <span ng-style="style1" class="progress-txt">{{identity.currentUser.complete1}}%</span>
        </div>
    </div>
    <div ng-if="!level1iscompleted" class="panel-group panel-infoGroup" id="panel-l1">
        <div class="panel">
        <task-survey></task-survey>
        <liken-follow></liken-follow>
        <task-insert-links></task-insert-links>
        <task-upload-photos></task-upload-photos>
        <invite-fb-friends></invite-fb-friends>
        </div>
        <!--  <task-insert-mobile></task-insert-mobile> -->
    </div>
</div>

<span ng-if="level1iscompleted">
<div class="level-box">
    <div class="level-meter clearfix">
        <div class="level-title">{{identity.currentUser.level2}}</div>
        <div class="progress-box">
            <div class="row pull-left progress-row">
                <div class="col-xs-6"></div>
                <div class="col-xs-6"></div>
                <div class="col-xs-6"></div>
                <div class="col-xs-6" style="border: 0px;"></div>
                <div class="progress-bar" style="width:{{identity.currentUser.complete2}}%;"></div>
            </div>
            <span ng-style="style2" class="progress-txt">{{identity.currentUser.complete2}}%</span>
        </div>
    </div>
    <div ng-if="!level2iscompleted" class="panel-group panel-infoGroup" id="panel-l2">
        <div class="panel">
            <task-knowviber></task-knowviber>
            <activate-friends></activate-friends>
            <goodvibes-mind></goodvibes-mind>
            <task-yuwa></task-yuwa>
            <support-yuwa></support-yuwa>
        </div>
        <!--  <task-insert-mobile></task-insert-mobile> -->
    </div>
</div>
</span>

<span ng-if="!level1iscompleted">
<div class="level-box">
    <div class="level-meter clearfix">
        <div class="level-title">{{identity.currentUser.level2}}</div>
        <div class="progress-box">
            <div class="row pull-left">
                <p>                    Complete Level 1 to unlock this Level</p>
            </div>
            <span class="progress-txt"><strong class="icon-lock"></strong></span>
        </div>
    </div>
</div>
</span>

<span ng-if="level2iscompleted">
<div class="level-box">
    <div class="level-meter clearfix">
        <div class="level-title">{{identity.currentUser.level3}}</div>
        <div class="progress-box">
            <div class="row pull-left progress-row">
                <div class="col-xs-6"></div>
                <div class="col-xs-6"></div>
                <div class="col-xs-6"></div>
                <div class="col-xs-6" style="border: 0px;"></div>
                <div class="progress-bar" style="width:{{identity.currentUser.complete3}}%;"></div>
            </div>
            <span ng-style="style3" class="progress-txt">{{identity.currentUser.complete3}}%</span>
        </div>
    </div>
    <div class="panel-group panel-infoGroup" id="panel-l3">
        <div class="panel">
            <goodvibes-mean></goodvibes-mean>
            <thinkof-viber></thinkof-viber>
            <backto-school></backto-school>
            <doodle-wars></doodle-wars>
            <daysof-goodvibes></daysof-goodvibes>
        </div>
        <!--  <task-insert-mobile></task-insert-mobile> -->
    </div>
</div>
</span>

<span ng-if="!level2iscompleted">
<div class="level-box">
    <div class="level-meter clearfix">
        <div class="level-title">{{identity.currentUser.level3}}</div>
        <div class="progress-box">
            <div class="row pull-left">
                <p>                    Complete Level 2 to unlock this Level</p>
                <!--<div class="col-xs-6"></div>-->
                <!--<div class="col-xs-6"></div>-->
                <!--<div class="col-xs-6"></div>-->
                <!--<div class="col-xs-6" style="border: 0px;"></div>-->
                <!--<div class="progress-bar" style="width:{{identity.currentUser.complete2}}%;"></div>-->
            </div>
            <span class="progress-txt"><strong class="icon-lock"></strong></span>
        </div>
    </div>
</div>
</span>
<!--<div class="level-box">-->
    <!--<div class="level-meter clearfix">-->
        <!--<div class="level-title">Level 4</div>-->
        <!--<div class="progress-box">-->
            <!--<span ng-style="style3" class="progress-txt">Coming Soon</span>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<p><strong>*</strong>Vibes rewarded for duplicate transactions will get removed at the end of the day.</p>
<!--<div class="level-box">-->
    <!--<div class="level-meter clearfix">-->
        <!--<div class="level-title">Level 2</div>-->
        <!--<div class="progress-box">-->
            <!--Unlock this level to collect 400 bonus vibes-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="panel-group panel-infoGroup">-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseOne1">-->
                <!--<h4 class="panel-title pull-left">-->
                    <!--Upload photos-->
                <!--</h4>-->
                <!--<span class="pull-right"><strong class="icon-lock"></strong></span>-->
            <!--</div>-->
            <!--<div id="collapseOne1" class="panel-collapse collapse">-->
                <!--<div class="panel-body">-->
                    <!--<p><strong>Task description:</strong></p>-->
                    <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad-->
                    <!--squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa-->
                    <!--nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid-->
                    <!--single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft-->
                    <!--beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice-->
                    <!--lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you-->
                    <!--probably haven't heard of them accusamus labore sustainable VHS.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseTwo2">-->
                <!--<h4 class="panel-title pull-left">-->
                    <!--Insert Social Links-->
                <!--</h4>-->
                <!--<span class="pull-right"><strong class="icon-lock"></strong></span>-->
            <!--</div>-->
            <!--<div id="collapseTwo2" class="panel-collapse collapse">-->
                <!--<div class="panel-body">-->
                    <!--<p><strong>Task description:</strong></p>-->
                    <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad-->
                    <!--squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa-->
                    <!--nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid-->
                    <!--single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft-->
                    <!--beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice-->
                    <!--lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you-->
                    <!--probably haven't heard of them accusamus labore sustainable VHS.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseThree3">-->
                <!--<h4 class="panel-title pull-left">-->
                    <!--Upload college photos-->
                <!--</h4>-->
                <!--<span class="pull-right"><strong class="icon-lock"></strong></span>-->
            <!--</div>-->
            <!--<div id="collapseThree3" class="panel-collapse collapse">-->
                <!--<div class="panel-body">-->
                    <!--<p><strong>Task description:</strong></p>-->
                    <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad-->
                    <!--squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa-->
                    <!--nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid-->
                    <!--single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft-->
                    <!--beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice-->
                    <!--lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you-->
                    <!--probably haven't heard of them accusamus labore sustainable VHS.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseFour4">-->
                <!--<h4 class="panel-title pull-left">-->
                    <!--Insert links of Viber out Videos-->
                <!--</h4>-->
                <!--<span class="pull-right"><strong class="icon-lock"></strong></span>-->
            <!--</div>-->
            <!--<div id="collapseFour4" class="panel-collapse collapse">-->
                <!--<div class="panel-body">-->
                    <!--<p><strong>Task description:</strong></p>-->
                    <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad-->
                    <!--squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa-->
                    <!--nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid-->
                    <!--single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft-->
                    <!--beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice-->
                    <!--lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you-->
                    <!--probably haven't heard of them accusamus labore sustainable VHS.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="level-box">-->
    <!--<div class="level-meter clearfix">-->
        <!--<div class="level-title">Level 3</div>-->
        <!--<div class="progress-box">-->
            <!--Unlock this level to collect 400 bonus vibes-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="panel-group panel-infoGroup">-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseOne5">-->
                <!--<h4 class="panel-title pull-left">-->
                    <!--Upload photos-->
                <!--</h4>-->
                <!--<span class="pull-right"><strong class="icon-lock"></strong></span>-->
            <!--</div>-->
            <!--<div id="collapseOne5" class="panel-collapse collapse">-->
                <!--<div class="panel-body">-->
                    <!--<p><strong>Task description:</strong></p>-->
                    <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad-->
                    <!--squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa-->
                    <!--nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid-->
                    <!--single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft-->
                    <!--beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice-->
                    <!--lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you-->
                    <!--probably haven't heard of them accusamus labore sustainable VHS.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseTwo6">-->
                <!--<h4 class="panel-title pull-left">-->
                    <!--Insert Social Links-->
                <!--</h4>-->
                <!--<span class="pull-right"><strong class="icon-lock"></strong></span>-->
            <!--</div>-->
            <!--<div id="collapseTwo6" class="panel-collapse collapse">-->
                <!--<div class="panel-body">-->
                    <!--<p><strong>Task description:</strong></p>-->
                    <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad-->
                    <!--squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa-->
                    <!--nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid-->
                    <!--single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft-->
                    <!--beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice-->
                    <!--lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you-->
                    <!--probably haven't heard of them accusamus labore sustainable VHS.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseThree7">-->
                <!--<h4 class="panel-title pull-left">-->
                    <!--Upload college photos-->
                <!--</h4>-->
                <!--<span class="pull-right"><strong class="icon-lock"></strong></span>-->
            <!--</div>-->
            <!--<div id="collapseThree7" class="panel-collapse collapse">-->
                <!--<div class="panel-body">-->
                    <!--<p><strong>Task description:</strong></p>-->
                    <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad-->
                    <!--squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa-->
                    <!--nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid-->
                    <!--single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft-->
                    <!--beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice-->
                    <!--lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you-->
                    <!--probably haven't heard of them accusamus labore sustainable VHS.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion2"-->
                 <!--data-target="#collapseFour8">-->
                <!--<h4 class="panel-title pull-left">-->
                    <!--Insert links of Viber out Videos-->
                <!--</h4>-->
                <!--<span class="pull-right"><strong class="icon-lock"></strong></span>-->
            <!--</div>-->
            <!--<div id="collapseFour8" class="panel-collapse collapse">-->
                <!--<div class="panel-body">-->
                    <!--<p><strong>Task description:</strong></p>-->
                    <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad-->
                    <!--squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa-->
                    <!--nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid-->
                    <!--single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft-->
                    <!--beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice-->
                    <!--lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you-->
                    <!--probably haven't heard of them accusamus labore sustainable VHS.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
</div>