<div class="panel panel-default">
    <div class="panel-heading collapsed" data-parent="#panel-l2" data-toggle="collapse" data-target="#collapseOne3">
        <h4 class="panel-title pull-left">
            #GoodVibes is on your mind
        </h4>

        <span class="pull-right" ><strong class="icon-tick"></strong></span>
        <span class="pull-right" ><strong>1000</strong> vibes </span>
    </div>
    <div id="collapseOne3" class="panel-collapse collapse">
        <div class="panel-body">
            <p><strong>Task description:</strong></p>
            How can you be positive from a manic Monday to a freaky Friday? #GoodVibes certainly helps. Share a
            status on Facebook or tweet with #GoodVibes
            <br/><br/>
            Get 1000 vibes for answering the questions.
            <br/><br/>
        </div>
    </div>
</div>