<div class="panel panel-default">
    <div class="panel-heading collapsed" data-parent="#panel-l1" data-parent="#panel-l1" data-toggle="collapse" data-target="#collapseThree">
        <h4 class="panel-title pull-left">
            Invite more friends
        </h4>
        <span class="pull-right" ng-show="taskcomplete2"><strong class="icon-tick"></strong></span>
        <span class="pull-right" ng-hide="taskcomplete2"><strong>200</strong> vibes </span>

    </div>
    <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
            <p><strong>Task description:</strong></p>
            Spread #GoodVibes by inviting at least 2 of your friends to join the amazing Viber #GoodVibes communitywith you
            <br/><br/>
            50 Vibes per invite.
        </div>

        <div id="fb-root"></div>
        <div class="panel-body">
            <button ng-hide="taskcomplete2" class="btn btn-success" ng-click="sendRequest();">invite now</button>
        </div>
        <p ng-show="taskcomplete2" style="margin-left: 5px">You have completed this task.</p>
        <p style="margin-left: 5px"><strong>*</strong>Vibes awarded for duplicate invites will be deducted.</p>
    </div>
</div>