<div class="panel panel-default">
    <div class="panel-heading collapsed" data-parent="#panel-l1" data-toggle="collapse" data-target="#collapseFive">
        <h4 class="panel-title pull-left">
            Follow Viber
        </h4>
        <span class="pull-right" ng-show="taskcomplete3"><strong class="icon-tick"></strong></span>
        <span class="pull-right" ng-hide="taskcomplete3"><strong>500</strong> vibes </span>

    </div>
    <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">
            <p><strong>Task description:</strong></p>
            Get latest updates on "Whats new with Viber" - Like Viber on Facebook and Follow on Twitter.
            <br/><br/>
            500 Vibes for liking Viber on Facebook and following on Twitter.
        </div>
        <div id="fb-root"></div>
        <div class="panel-body">
            <div class="fb-like" data-href="https://www.facebook.com/officialviberindia/" layout="button" data-action="like" data-show-faces="false" data-share="false" style="border:none; overflow:hidden; width:60px; height:20px;" allowTransparency="true"></div>
            <a href="https://twitter.com/viber_india" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @viber_india</a>
            <!--<iframe allowtransparency="true" frameborder="0" scrolling="no"-->
                    <!--src="//platform.twitter.com/widgets/follow_button.html?screen_name=viber_india"-->
                    <!--style="width:300px; height:20px;"></iframe>-->
        </div>
    </div>
</div>