

<div class="jumbotron">
  <h1>'Allo, Viber 'Allo!</h1>
  <p class="lead">
    <!--<img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
    Welcome to the #goodvibes community YO! mama
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="container">
  <h4>The #goodvibes community powered by Viber</h4>
  <p>
      Good vibes exist in every happy moment. It’s shared with every laugh, with every high-five. It’s anything and everything that makes one celebrate and live life. It’s the feeling you get when you see a friend across the college canteen. It’s when your team wins, when you make that new connection or when you hear that sweet tune.
      GoodVibes is about doing what you love & sharing it with your world.

  </p>


    <div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Letsintern team</p>
</div>
