<div class="col-sm-18 col-sm-offset-6">
<h1>Viber Ambassadors</h1>
<form name="addStudents" role="form" ng-submit="addStudent(addStudents.$valid)"novalidate>
    <div class="form-group">
    <textarea ng-model="email_ids" type="text" name="" id="" cols="20" rows="3" class="form-control" placeholder="Enter comma separated e-mail ids." required></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success" ng-disabled="addStudents.$invalid">Add Students</button>
    </div>
</form>
<table class="table leaderboard" ng-repeat="intern in interndata" width="100%">
<tr>
    <td width="3%"><span class="big-icon-bookmark">{{$index+1}}</span> </td>
    <td width="10%"><img ng-src="http://graph.facebook.com/{{intern.facebookid}}/picture?height=80&width=80" class="img-circle img-responsive" alt=""/></td>
    <td width="25%" class="leader-name"><p>{{intern.name}}</p>
        <small>{{intern.college.name}}</small><br>
        <small>{{intern.location.name}}</small>
    </td>
    <td width="10%">{{intern.email}}
        <br>{{intern.mobile}}</td>
    <td width="17%">
        <div class="avatar-info">
            <div class="row">
                {{intern.stages[0].name}}
                <div class="col-xs-6"></div>
                <div class="col-xs-6"></div>
                <div class="col-xs-6" style="border: 0px;"></div>
                <div class="progress-bar" style="width: {{intern.stages[0].completion}}%;"></div>
            </div>
        </div>
        <div class="avatar-info">
            <div class="row">
                {{intern.stages[1].name}}
                <div class="col-xs-6"></div>
                <div class="col-xs-6"></div>
                <div class="col-xs-6" style="border: 0px;"></div>
                <div class="progress-bar" style="width: {{intern.stages[1].completion}}%;"></div>
            </div>
        </div>
        <div class="avatar-info">
            <div class="row">
                {{intern.stages[2].name}}
                <div class="col-xs-6"></div>
                <div class="col-xs-6"></div>
                <div class="col-xs-6" style="border: 0px;"></div>
                <div class="progress-bar" style="width: {{intern.stages[2].completion}}%;"></div>
            </div>
        </div>
    </td>
    <td width="12%">{{intern.points}} Vibes</td>
    <td width="10%">{{intern.updatedon}}</td>
    <td width="13%">
        <div class="col-sm-offset-4 col-sm-20 text-right">
            <button type="submit" class="btn btn-success">Send Reminder</button>
            <button type="button" class="btn btn-link" ng-click="deleteintern($index)">Remove Ambassador</button>
        </div>
    </td>
</tr>
</table>
</div>