<div class="leaderboard-box">
    <div class="leaderboard-title">Global Leaderboard</div>
    <ul class="leader-list">
        <li  ng-repeat="student in lbstudents">
            <img ng-src="http://graph.facebook.com/{{student.facebookid}}/picture?height=80&width=80" width="40" alt="" class="img-circle img-responsive pull-left"/>

            <div class="leaderboard-info">
                <p>{{student.name}}</p>
                <a href=""><span class="icon-bookmark pull-right">{{$index + 1 }}</span></a>{{student.points}} vibes<br>{{student.location.name}}
            </div>
        </li>
    </ul>
</div>