<div class="leaderboard-box">
    <div class="leaderboard-title">Global Leaderboard</div>
    <ul class="leader-list">
        <li>
            <img src="images/avatar.jpg" width="40" alt="" class="img-circle img-responsive pull-left"/>

            <div class="leaderboard-info">
                <p>Bob Fisher</p>
                <a href="#."><span class="icon-bookmark pull-right">2</span>1995 vibes<br>Pune</a>
            </div>
        </li>
        <li>
            <img src="images/avatar.jpg" width="40" alt="" class="img-circle img-responsive pull-left"/>

            <div class="leaderboard-info">
                <p>Bob Fisher</p>
                <a href="#."><span class="icon-bookmark pull-right">2</span>1995 vibes<br>Pune</a>
            </div>
        </li>
        <li>
            <img src="images/avatar.jpg" width="40" alt="" class="img-circle img-responsive pull-left"/>

            <div class="leaderboard-info">
                <p>Bob Fisher</p>
                <a href="#."><span class="icon-bookmark pull-right">2</span>1995 vibes<br>Pune</a>
            </div>
        </li>
        <li>
            <img src="images/avatar.jpg" width="40" alt="" class="img-circle img-responsive pull-left"/>

            <div class="leaderboard-info">
                <p>Bob Fisher</p>
                <a href="#."><span class="icon-bookmark pull-right">2</span>1995 vibes<br>Pune</a>
            </div>
        </li>
        <li>
            <img src="images/avatar.jpg" width="40" alt="" class="img-circle img-responsive pull-left"/>

            <div class="leaderboard-info">
                <p>Bob Fisher</p>
                <a href="#."><span class="icon-bookmark pull-right">2</span>1995 vibes<br>Pune</a>
            </div>
        </li>
    </ul>
</div>