<body ng-app="viberApp" ng-controller="lbMySettingsCntrl">
<div class="col-sm-13 col-sm-offset-1">
    <h1>Settings</h1>
    <div class="list-box">
        <h2 class="box-title">Profile</h2>
        <form class="form-horizontal form-profile" role="form" name="settingsForm" ng-submit="submitForm(settingsForm.$valid)" novalidate>
         <!--   <div class="form-group">
                <label for="inputFN" class="col-sm-4 control-label">First Name</label>
                <div class="col-sm-20">
                    <input type="email" class="form-control" id="inputFN" placeholder="First Name">
                </div>
            </div>-->
            <div class="form-group">
                <label for="inputLN" class="col-sm-4 control-label">Name</label>
                <div class="col-sm-20">
                    <input type="text" name="name" class="form-control" id="inputLN" placeholder="Name" ng-model="user.name" required>
                    </div>
            </div>
           <div class="form-group">
                <label class="col-sm-4 control-label">Sex</label>
                <div class="col-sm-20">
                    <input type="radio" name="gender" id="male" value="male" class="custom" ng-model="user.gender">
                    <label for="male">Male</label>
                    <input type="radio" name="gender" id="female" value="female" class="custom" ng-model="user.gender">
                    <label for="female">
                        Female
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="inputM" class="col-sm-4 control-label">Mobile</label>
                <div class="col-sm-20">
                    <input type="number" name="mobile" ng-model="user.mobile" ng-minlength="10" ng-maxlength="10" class="form-control" id="inputM" placeholder="Mobile" required>
                    </div>
            </div>
            <div class="form-group" ng-hide="true">
                <label for="inputE" class="col-sm-4 control-label">Email</label>
                <div class="col-sm-20">
                    <input type="email" name="email" class="form-control" id="inputE" placeholder="Email" ng-model="user.email" required >
                    </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">City</label>
                <div class="col-sm-20">
                    <input type="text" ng-model="user.location.name" typeahead="place.CityName for place in getLocation($viewValue) " typeahead-on-select='onSelectLocation($item)' class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">College</label>
                <div class="col-sm-20">
                    <input type="text" ng-model="user.college.name" typeahead="clg.CollegeName for clg in getCollege($viewValue)" typeahead-items='5' typeahead-on-select='onSelectCollege($item)'class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-20 text-right">
                    <button type="submit" class="btn btn-success" ng-disabled="settingsForm.$invalid">save</button>
                </div>
            </div>
        </form>
    </div>

    <div class="list-box">
        <h2 class="box-title">Referral Url</h2>
        <table cellpadding="0"  cellspacing="0" class="table table-responsive my-vibes-table" width="100%">
            <thead>
            <tr>
                <th width="20%">Url</th>
                <th width="80%">{{identity.currentUser.referralId}}</th>
            </tr>
            </thead>
        </table>
    </div>
    <!--<div class="list-box box-bt-line">-->
        <!--<p>Are you already a TheGoodVibes.in member?</p>-->
        <!--<p>Let’s import your profile & accumulated vibes.-->
            <!--Click this button, and we’ll send your access code to your registered email address.-->
        <!--</p>-->
        <!--<button class="btn btn-success">Email my access code</button>-->
        <!--<div class="list-box">-->
            <!--<h2 class="box-title">Social Accounts</h2>-->
            <!--<em style="font-size: 11px;">LetsIntern Promise: We never post without your permission</em>-->
    <!--</div>-->
        <!--<ul class="stripedUl">-->
            <!--<li class="row">-->
                <!--<div class="col-sm-14 circle-icon-fb social-active">Awarded Bonus 200 vibes</div>-->
                <!--<div class="col-sm-10"><label><input ng-model="fb_auth" type="checkbox" class="ios-switch bigswitch" checked /><div><div></div></div></label></div>-->
            <!--</li>-->
            <!--<li class="row">-->
                <!--<div class="col-sm-14 circle-icon-tw">Connect to win 200 vibes</div>-->
                <!--<div class="col-sm-10"><label><input ng-model="tw_auth" type="checkbox" class="ios-switch bigswitch" /><div><div></div></div></label></div>-->
            <!--</li>-->
            <!--&lt;!&ndash;<li class="row">-->
                <!--<div class="col-sm-14 circle-icon-g">Connect to win 200 vibes</div>-->
                <!--<div class="col-sm-10"><label><input type="checkbox" class="ios-switch bigswitch" /><div><div></div></div></label></div>-->
            <!--</li>&ndash;&gt;-->
        <!--</ul>-->
    <!--</div>-->
    <div class="list-box">
        <h2 class="box-title">My Vibes</h2>
        <em style="font-size: 11px;">A record of all Vibes you earned since joining, in descending order.Greyed out Vibes are undergoing approval.</em>
        <table cellpadding="0"  cellspacing="0" class="table table-responsive my-vibes-table" width="100%">
            <thead>
            <tr>
                <th width="25%">Vibes</th>
                <th width="70%">Activity</th>
            </tr>
            </thead>
            <tbody ng-model="transactions" ng-repeat="transaction in transactions">
            <tr>
                <td>{{transaction.vibes}}</td>
                <td>{{transaction.message}}</td>

            </tr>
            <!--<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">-->
                <!--Previous-->
            <!--</button>-->
            <!--{{currentPage+1}}/{{numberOfPages()}}-->
            <!--<button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">-->
                <!--Next-->
            <!--</button>-->
            </tbody>
            <!--<tr>-->
                <!--<td>40</td>-->
                <!--<td>30 new mobile numbers</td>-->
                <!--<td>3 May 2014</td>-->
            <!--</tr>-->
            <!--<tr class="disabled">-->
                <!--<td>40</td>-->
                <!--<td>30 new mobile numbers</td>-->
                <!--<td>3 May 2014</td>-->
            <!--</tr>-->
            <!--<tr class="disabled">-->
                <!--<td>40</td>-->
                <!--<td>30 new mobile numbers</td>-->
                <!--<td>3 May 2014</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>40</td>-->
                <!--<td>30 new mobile numbers</td>-->
                <!--<td>3 May 2014</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>40</td>-->
                <!--<td>30 new mobile numbers</td>-->
                <!--<td>3 May 2014</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>40</td>-->
                <!--<td>30 new mobile numbers</td>-->
                <!--<td>3 May 2014</td>-->
            <!--</tr>-->
        </table>
    </div>

</div>
</body>