<header>
    <div class="container">
        <div class="pull-left box-logo-wrap">
            <a href="#." class="icon-logo"></a>
        </div>
        <div class="pull-right nav-header-pills">
            <button type="button" class="btn btn-link">Logout</button>
            <a href="#." class="font-icon icon-viber-alert" id="popAlert"><span class="badge">7</span></a>
            <a href="#." class="font-icon icon-viber-inbox" id="inboxAlert"><span class="badge">99</span></a>
        </div>
    </div>
</header>