<!doctype html>
<html>
<head>
    <title>Welcome to Viber #GoodVibes Community</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link href="../app/css/viber-default.css" rel="stylesheet" type="text/css">
    <style>
        body 		{ padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
    <header class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="pull-left box-logo-wrap">
                <a href="#." class="icon-logo"></a>
            </div>

        </div>
    </header>

    <div class="jumbotron text-center" style="background-color:#e5dceb;">
        <h1><span class="fa fa-lock"></span> #GoodVibes </h1>
        <br/>
        <p>Facebook did not tell us your email address. Please enter an email address to continue.</p>
         <br/>
        <form action="/emailvalidate" method="post">

            <input type="email" style=" border:2px solid #ccc; -webkit-border-radius: 5px;
                border-radius: 5px;" name="mail" placeholder="Email address" required>
            <input class="btn-lg btn-primary" type="submit" value="Validate">

        </form>

    </div>

</div>
</body>
</html>