<div class="col-sm-13 col-sm-offset-1">
    <h1>Rewards Store</h1>
    <p>Week 1 leaderboard is being processed, Winners will be announced on 1st August, 2014. <br>
        Week 2 leaderboard ends on Sunday, 3rd August, 2014.</p>
    <ul class="gallery-row row">
        <!--<li class="col-xs-6">-->
            <!--<div class="img-box">-->
                <!--<img src="images/store-img/store-img.jpg" class="img-responsive" alt=""/>-->
                <!--<a href="images/store-img/store-img.jpg" class="circle-icon-zoom" data-footer="Viber T-Shirt"-->
                   <!--data-toggle="lightbox"></a>-->

                <!--<div class="img-info">-->
                    <!--<p>Viber Rucksack</p>-->
                    <!--<a href="#.">45 vibes</a>-->
                <!--</div>-->
                <!--<div class="img-action custom-form">-->
                    <!--<button type="submit" class="btn btn-success" style="margin-top: 8px;">Redeem</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="col-xs-6">-->
            <!--<div class="img-box">-->
                <!--<img src="images/store-img/store-img.jpg" class="img-responsive" alt=""/>-->
                <!--<a href="images/store-img/store-img.jpg" class="circle-icon-zoom" data-footer="Viber T-Shirt"-->
                   <!--data-toggle="lightbox"></a>-->

                <!--<div class="img-info">-->
                    <!--<p>Viber Rucksack</p>-->
                    <!--<a href="#.">45 vibes</a>-->
                <!--</div>-->
                <!--<div class="img-action custom-form">-->
                    <!--<button type="submit" class="btn btn-success" style="margin-top: 8px;">Redeem</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="col-xs-6">-->
            <!--<div class="img-box">-->
                <!--<img src="images/store-img/store-img.jpg" class="img-responsive" alt=""/>-->
                <!--<a href="images/store-img/store-img.jpg" class="circle-icon-zoom" data-footer="Viber T-Shirt"-->
                   <!--data-toggle="lightbox"></a>-->

                <!--<div class="img-info">-->
                    <!--<p>Viber Rucksack</p>-->
                    <!--<a href="#.">45 vibes</a>-->
                <!--</div>-->
                <!--<div class="img-action custom-form">-->
                    <!--<button type="submit" class="btn btn-success" style="margin-top: 8px;">Redeem</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="col-xs-6">-->
            <!--<div class="img-box">-->
                <!--<img src="images/store-img/store-img.jpg" class="img-responsive" alt=""/>-->
                <!--<a href="images/store-img/store-img.jpg" class="circle-icon-zoom" data-footer="Viber T-Shirt"-->
                   <!--data-toggle="lightbox"></a>-->

                <!--<div class="img-info">-->
                    <!--<p>Viber Rucksack</p>-->
                    <!--<a href="#.">45 vibes</a>-->
                <!--</div>-->
                <!--<div class="img-action custom-form">-->
                    <!--<button type="submit" class="btn btn-success" style="margin-top: 8px;">Redeem</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="col-xs-6">-->
            <!--<div class="img-box">-->
                <!--<img src="images/store-img/store-img.jpg" class="img-responsive" alt=""/>-->
                <!--<a href="images/store-img/store-img.jpg" class="circle-icon-zoom" data-footer="Viber T-Shirt"-->
                   <!--data-toggle="lightbox"></a>-->

                <!--<div class="img-info">-->
                    <!--<p>Viber Rucksack</p>-->
                    <!--<a href="#.">45 vibes</a>-->
                <!--</div>-->
                <!--<div class="img-action custom-form">-->
                    <!--<button type="submit" class="btn btn-success" style="margin-top: 8px;">Redeem</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="col-xs-6">-->
            <!--<div class="img-box">-->
                <!--<img src="images/store-img/store-img.jpg" class="img-responsive" alt=""/>-->
                <!--<a href="images/store-img/store-img.jpg" class="circle-icon-zoom" data-footer="Viber T-Shirt"-->
                   <!--data-toggle="lightbox"></a>-->

                <!--<div class="img-info">-->
                    <!--<p>Viber Rucksack</p>-->
                    <!--<a href="#.">45 vibes</a>-->
                <!--</div>-->
                <!--<div class="img-action custom-form">-->
                    <!--<button type="submit" class="btn btn-success" style="margin-top: 8px;">Redeem</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="col-xs-6">-->
            <!--<div class="img-box">-->
                <!--<img src="images/store-img/store-img.jpg" class="img-responsive" alt=""/>-->
                <!--<a href="images/store-img/store-img.jpg" class="circle-icon-zoom" data-footer="Viber T-Shirt"-->
                   <!--data-toggle="lightbox"></a>-->

                <!--<div class="img-info">-->
                    <!--<p>Viber Rucksack</p>-->
                    <!--<a href="#.">45 vibes</a>-->
                <!--</div>-->
                <!--<div class="img-action custom-form">-->
                    <!--<button type="submit" class="btn btn-success" style="margin-top: 8px;">Redeem</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="col-xs-6">-->
            <!--<div class="img-box">-->
                <!--<img src="images/store-img/store-img.jpg" class="img-responsive" alt=""/>-->
                <!--<a href="images/store-img/store-img.jpg" class="circle-icon-zoom" data-footer="Viber T-Shirt"-->
                   <!--data-toggle="lightbox"></a>-->

                <!--<div class="img-info">-->
                    <!--<p>Viber Rucksack</p>-->
                    <!--<a href="#.">45 vibes</a>-->
                <!--</div>-->
                <!--<div class="img-action custom-form">-->
                    <!--<button type="submit" class="btn btn-success" style="margin-top: 8px;">Redeem</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <li class="col-xs-6">
            <div class="img-box img-lock">
                <img src="images/ipad.png" class="img-responsive" alt=""/>
                <!--<a href="images/store-img/store-img.jpg" class="circle-icon-zoom" data-footer="Viber T-Shirt"-->
                   <!--data-toggle="lightbox"></a>-->

                <div class="img-info">
                    <p>Apple iPad Mini</p>
                    <!--<a href="#.">45 vibes</a>-->
                </div>
                <div class="img-action">
                    Overall Top performer gets an Ipad mini
                </div>
                <div class="circle-icon-lock"></div>
            </div>
        </li>
        <li class="col-xs-6">
            <div class="img-box img-lock">
                <img src="images/vouchers.png" class="img-responsive" alt=""/>
                <!--<a href="images/store-img/store-img.jpg" class="circle-icon-zoom" data-footer="Viber T-Shirt"-->
                <!--data-toggle="lightbox"></a>-->

                <div class="img-info">
                    <p>Movie Vouchers</p>
                    <!--<a href="#.">45 vibes</a>-->
                </div>
                <div class="img-action">
                    Other top 50 gets INR 500 movie voucher
                </div>
                <div class="circle-icon-lock"></div>
            </div>
        </li>
        <li class="col-xs-6">
            <div class="img-box img-lock">
                <img src="images/headphone.png" class="img-responsive" alt=""/>
                <!--<a href="images/store-img/store-img.jpg" class="circle-icon-zoom" data-footer="Viber T-Shirt"-->
                   <!--data-toggle="lightbox"></a>-->

                <div class="img-info">
                    <p>Headphones</p>
                    <!--<a href="#.">45 vibes</a>-->
                </div>
                <div class="img-action">
                    Headphones
                </div>
                <div class="circle-icon-lock"></div>
            </div>
        </li>
        <li class="col-xs-6">
            <div class="img-box img-lock">
                <img src="images/pen-drive.png" class="img-responsive" alt=""/>
                <!--<a href="images/store-img/store-img.jpg" class="circle-icon-zoom" data-footer="Viber T-Shirt"-->
                   <!--data-toggle="lightbox"></a>-->

                <div class="img-info">
                    <p>Pen Drives</p>
                    <!--<a href="#.">45 vibes</a>-->
                </div>
                <div class="img-action">
                    Pen Drives
                </div>
                <div class="circle-icon-lock"></div>
            </div>
        </li>
        <li class="col-xs-6">
            <div class="img-box img-lock">
                <img src="images/t-shirt.png" class="img-responsive" alt=""/>
                <!--<a href="images/store-img/store-img.jpg" class="circle-icon-zoom" data-footer="Viber T-Shirt"-->
                   <!--data-toggle="lightbox"></a>-->

                <div class="img-info">
                    <p>Cool T-shirts</p>
                    <!--<a href="#.">45 vibes</a>-->
                </div>
                <div class="img-action">
                    Cool T-shirts
                </div>
                <div class="circle-icon-lock"></div>
            </div>
        </li>
    </ul>

</div>
