<div class="col-sm-13 col-sm-offset-1">
    <h1>Rewards Store</h1>
    <p>Rewards store is currently closed.</p>
    <!--<ul class="gallery-row row">-->
        <!--<li class="col-xs-6">-->
            <!--<div class="img-box">-->
                <!--<img src="images/store-img/store-img.jpg" class="img-responsive" alt=""/>-->
                <!--<a href="images/store-img/store-img.jpg" class="circle-icon-zoom" data-footer="Viber T-Shirt"-->
                   <!--data-toggle="lightbox"></a>-->

                <!--<div class="img-info">-->
                    <!--<p>Viber Rucksack</p>-->
                    <!--<a href="#.">45 vibes</a>-->
                <!--</div>-->
                <!--<div class="img-action custom-form">-->
                    <!--<button type="submit" class="btn btn-success" style="margin-top: 8px;">Redeem</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="col-xs-6">-->
            <!--<div class="img-box">-->
                <!--<img src="images/store-img/store-img.jpg" class="img-responsive" alt=""/>-->
                <!--<a href="images/store-img/store-img.jpg" class="circle-icon-zoom" data-footer="Viber T-Shirt"-->
                   <!--data-toggle="lightbox"></a>-->

                <!--<div class="img-info">-->
                    <!--<p>Viber Rucksack</p>-->
                    <!--<a href="#.">45 vibes</a>-->
                <!--</div>-->
                <!--<div class="img-action custom-form">-->
                    <!--<button type="submit" class="btn btn-success" style="margin-top: 8px;">Redeem</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="col-xs-6">-->
            <!--<div class="img-box">-->
                <!--<img src="images/store-img/store-img.jpg" class="img-responsive" alt=""/>-->
                <!--<a href="images/store-img/store-img.jpg" class="circle-icon-zoom" data-footer="Viber T-Shirt"-->
                   <!--data-toggle="lightbox"></a>-->

                <!--<div class="img-info">-->
                    <!--<p>Viber Rucksack</p>-->
                    <!--<a href="#.">45 vibes</a>-->
                <!--</div>-->
                <!--<div class="img-action custom-form">-->
                    <!--<button type="submit" class="btn btn-success" style="margin-top: 8px;">Redeem</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="col-xs-6">-->
            <!--<div class="img-box">-->
                <!--<img src="images/store-img/store-img.jpg" class="img-responsive" alt=""/>-->
                <!--<a href="images/store-img/store-img.jpg" class="circle-icon-zoom" data-footer="Viber T-Shirt"-->
                   <!--data-toggle="lightbox"></a>-->

                <!--<div class="img-info">-->
                    <!--<p>Viber Rucksack</p>-->
                    <!--<a href="#.">45 vibes</a>-->
                <!--</div>-->
                <!--<div class="img-action custom-form">-->
                    <!--<button type="submit" class="btn btn-success" style="margin-top: 8px;">Redeem</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="col-xs-6">-->
            <!--<div class="img-box">-->
                <!--<img src="images/store-img/store-img.jpg" class="img-responsive" alt=""/>-->
                <!--<a href="images/store-img/store-img.jpg" class="circle-icon-zoom" data-footer="Viber T-Shirt"-->
                   <!--data-toggle="lightbox"></a>-->

                <!--<div class="img-info">-->
                    <!--<p>Viber Rucksack</p>-->
                    <!--<a href="#.">45 vibes</a>-->
                <!--</div>-->
                <!--<div class="img-action custom-form">-->
                    <!--<button type="submit" class="btn btn-success" style="margin-top: 8px;">Redeem</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="col-xs-6">-->
            <!--<div class="img-box">-->
                <!--<img src="images/store-img/store-img.jpg" class="img-responsive" alt=""/>-->
                <!--<a href="images/store-img/store-img.jpg" class="circle-icon-zoom" data-footer="Viber T-Shirt"-->
                   <!--data-toggle="lightbox"></a>-->

                <!--<div class="img-info">-->
                    <!--<p>Viber Rucksack</p>-->
                    <!--<a href="#.">45 vibes</a>-->
                <!--</div>-->
                <!--<div class="img-action custom-form">-->
                    <!--<button type="submit" class="btn btn-success" style="margin-top: 8px;">Redeem</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="col-xs-6">-->
            <!--<div class="img-box">-->
                <!--<img src="images/store-img/store-img.jpg" class="img-responsive" alt=""/>-->
                <!--<a href="images/store-img/store-img.jpg" class="circle-icon-zoom" data-footer="Viber T-Shirt"-->
                   <!--data-toggle="lightbox"></a>-->

                <!--<div class="img-info">-->
                    <!--<p>Viber Rucksack</p>-->
                    <!--<a href="#.">45 vibes</a>-->
                <!--</div>-->
                <!--<div class="img-action custom-form">-->
                    <!--<button type="submit" class="btn btn-success" style="margin-top: 8px;">Redeem</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="col-xs-6">-->
            <!--<div class="img-box">-->
                <!--<img src="images/store-img/store-img.jpg" class="img-responsive" alt=""/>-->
                <!--<a href="images/store-img/store-img.jpg" class="circle-icon-zoom" data-footer="Viber T-Shirt"-->
                   <!--data-toggle="lightbox"></a>-->

                <!--<div class="img-info">-->
                    <!--<p>Viber Rucksack</p>-->
                    <!--<a href="#.">45 vibes</a>-->
                <!--</div>-->
                <!--<div class="img-action custom-form">-->
                    <!--<button type="submit" class="btn btn-success" style="margin-top: 8px;">Redeem</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="col-xs-6">-->
            <!--<div class="img-box img-lock">-->
                <!--<img src="images/store-img/store-img.jpg" class="img-responsive" alt=""/>-->
                <!--<a href="images/store-img/store-img.jpg" class="circle-icon-zoom" data-footer="Viber T-Shirt"-->
                   <!--data-toggle="lightbox"></a>-->

                <!--<div class="img-info">-->
                    <!--<p>Viber Rucksack</p>-->
                    <!--<a href="#.">45 vibes</a>-->
                <!--</div>-->
                <!--<div class="img-action">-->
                    <!--Unlock vibes to win this. Limited in stock.-->
                <!--</div>-->
                <!--<div class="circle-icon-lock"></div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="col-xs-6">-->
            <!--<div class="img-box img-lock">-->
                <!--<img src="images/store-img/store-img.jpg" class="img-responsive" alt=""/>-->
                <!--<a href="images/store-img/store-img.jpg" class="circle-icon-zoom" data-footer="Viber T-Shirt"-->
                   <!--data-toggle="lightbox"></a>-->

                <!--<div class="img-info">-->
                    <!--<p>Viber Rucksack</p>-->
                    <!--<a href="#.">45 vibes</a>-->
                <!--</div>-->
                <!--<div class="img-action">-->
                    <!--Unlock vibes to win this. Limited in stock.-->
                <!--</div>-->
                <!--<div class="circle-icon-lock"></div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="col-xs-6">-->
            <!--<div class="img-box img-lock">-->
                <!--<img src="images/store-img/store-img.jpg" class="img-responsive" alt=""/>-->
                <!--<a href="images/store-img/store-img.jpg" class="circle-icon-zoom" data-footer="Viber T-Shirt"-->
                   <!--data-toggle="lightbox"></a>-->

                <!--<div class="img-info">-->
                    <!--<p>Viber Rucksack</p>-->
                    <!--<a href="#.">45 vibes</a>-->
                <!--</div>-->
                <!--<div class="img-action">-->
                    <!--Unlock vibes to win this. Limited in stock.-->
                <!--</div>-->
                <!--<div class="circle-icon-lock"></div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="col-xs-6">-->
            <!--<div class="img-box img-lock">-->
                <!--<img src="images/store-img/store-img.jpg" class="img-responsive" alt=""/>-->
                <!--<a href="images/store-img/store-img.jpg" class="circle-icon-zoom" data-footer="Viber T-Shirt"-->
                   <!--data-toggle="lightbox"></a>-->

                <!--<div class="img-info">-->
                    <!--<p>Viber iPhone 5c Case</p>-->
                    <!--<a href="#.">45 vibes</a>-->
                <!--</div>-->
                <!--<div class="img-action">-->
                    <!--Unlock vibes to win this. Limited in stock.-->
                <!--</div>-->
                <!--<div class="circle-icon-lock"></div>-->
            <!--</div>-->
        <!--</li>-->
    <!--</ul>-->

</div>
