<div class="container">


    <form class="form-horizontal well well-sm">
        <fieldset>

            <!-- Form Name -->
            <legend>Register for #goodvibes community</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Name</label>
                <div class="col-md-5">
                    <input id="textinput" name="textinput" type="text" placeholder="enter your name" class="form-control input-md" required="true" ng-model="User.name">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Email</label>
                <div class="col-md-5">
                    <input id="textinput" name="textinput" type="text" placeholder="enter your email address" class="form-control input-md" required="" ng-model="User.email">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="college">College Name</label>
                <div class="col-md-5">
                    <input id="college" name="college" type="text" placeholder="enter your college name" class="form-control input-md" required="" ng-model="User.collegeid">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Facebook ID</label>
                <div class="col-md-5">
                    <input id="textinput" name="textinput" type="text" placeholder="enter your facebook id" class="form-control input-md" required="" ng-model="User.facebbokid">

                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary"  type="submit" ng-click="Register()">Register</button>
                </div>
            </div>

        </fieldset>
    </form>





</div>