<div class="so-connect-box">
    <div class="social-title">
        Connect social<br> handles
    </div>
    <p class="text-center promoTxt"><span>Win</span> <span class="big-txt">400</span> <span>vibes</span></p>

    <div class="text-center social-link">
        <a href="#."><span class="round-icon icon-facebook"></span></a>
        <a href="/auth/twitter" target="_blank"><span class="round-icon icon-twitter"></span></a>
       <!-- <a href="#."><span class="round-icon icon-google-plus"></span></a>-->
    </div>
</div>