
<div class="panel panel-default">
<div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseOne">
    <h4 class="panel-title pull-left">
        Introduce stickers to your friends
    </h4>
    <span class="pull-right" ng-show="taskcomplete1"><strong class="icon-tick"></strong></span>
    <span class="pull-right" ng-hide="taskcomplete1"><strong>2500</strong> vibes </span>

</div>

<div id="collapseOne" class="panel-collapse collapse">
    <div class="panel-body">
        <p><strong>Task description:</strong></p>
        Now that you know how you can make group conversations more interesting with Viber, Form a group of

        your closest friends and introduce stickers to them by having richer conversations around college life,

        post-college scenes, college humor etc. Please submit screenshots of group conversations where you've

        used stickers

        <br/><br/> Please submit the screen shots of the group conversations, where you have used stickers. Your screenshot will get you 2500 Vibes.
    </div>
    <div class="panel-body">
        <div class="upload-nav text-right">
            <span ng-show="s3success" class="alert-success pull-left">{{added}} added successfully</span>
            <span class="alert-success pull-right">{{submitted}} Submitted</span>
            <!--<ul>-->
                <!--<li class="active"><a href="#added" target="_self" data-toggle="tab">{{submitted}} Submitted</a></li>-->
                <!--&lt;!&ndash;<li><a href="#pending" data-toggle="tab">12 Pending Approval</a></li>-->
                <!--<li><a href="#rejected" data-toggle="tab" class="rejected-photo">6 Rejected</a></li>&ndash;&gt;-->
            <!--</ul>-->
        </div>
            <div class="tab-pane fade in active new-upload">
                <a ng-model="serSubmitted" ng-repeat="serSubmit in serSubmitted" href="#."><img ng-src="https://s3-ap-southeast-1.amazonaws.com/viber-uploads/s3UploadExample/{{serSubmit}}" height="78" width="78" alt=""/></a>
                <a ng-model="s3added" ng-repeat="s3add in s3added" href="#."><img ng-src="{{s3add}}" height="78" width="78" alt=""/></a>


                <a href="#." onclick="document.getElementById('fileID').click(); return false;"class="upload-img">
                    <span class="icon-plus-circle"></span>
                    Choose<br>
                    photos
                </a>
                <input type="file" accept="image/*" id="fileID" style="visibility: hidden;" ng-file-select="onFileSelect($files)" multiple/>
                <p style="margin-left: 18px;">
                    <button type="submit" class="btn btn-success radius-none" ng-click="onFileUpload()">submit</button>
                </p>
            </div>

        </div>


    </div>
</div>
    </div>