<div class="panel panel-default">
<div class="panel-heading collapsed" data-parent="#panel-l1" data-toggle="collapse" data-target="#collapseFour">
    <h4 class="panel-title pull-left">
        The #GoodVibes Introduction Video
    </h4>
    
    <span class="pull-right" ng-show="ataskcomplete0"><strong class="icon-tick"></strong></span>
    <span class="pull-right" ng-hide="ataskcomplete0"><strong>1000</strong> vibes </span>
</div>
<div id="collapseFour" class="panel-collapse collapse">
    <div class="panel-body">
        <p><strong>Task description:</strong></p>
        The #GoodVibes Community Introduction Video is here! Watch and learn from the Viber India Team about the brand Viber you all will be associating with for the next 2 months; why this community has been formed with young, dynamic people like you all and what's in store for you.
        Dont forget to answer few simple questions at the end to earn Vibes.
        <br/><br/>
        Get 500 vibes for viewing the video and 500 vibes for answering the questions.
        <br/><br/>
        <iframe width="100%" height="315px" src="//www.youtube.com/embed/EOl4e8wsvHU" frameborder="0" allowfullscreen></iframe>
        <p ng-show="ataskcomplete0">You have already completed this task</p>
    </div>

    <form ng-hide="ataskcomplete0" name="surveyForm" role="form" ng-submit="submit(surveyForm.$valid)" ng-controller="vbSurveyCtrl"  novalidate>

    <div class="panel-body">
        <p class="alert-formnote">All questions are mandatory</p>
        <div class="row">
            <div class="col-lg-2">
                <div class="que-box">Q</div>
            </div>
            <div class="col-lg-22">
                <p class="question-txt">Have you used Viber to connect with friends earlier ?</p>
                <div class="form-group" required>
                    <input type="radio" name="used" id="yes" value="yes" class="custom-radio" ng-model="used" required>
                    <label for="yes">Yes</label>
                    <input type="radio" name="used" id="no" value="no" class="custom-radio" ng-model="used" required>
                    <label for="no">
                        No
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-2">
                <div class="que-box">Q</div>
            </div>
            <div class="col-lg-22">
                <p class="question-txt">Viber was founded in which one of the following countries ?
                    <small>Please select one</small>
                </p>
                <div class="form-group">
                    <input type="radio" id="qa1" name="qa1" class="custom-radio" ng-model="country" value="United States" required>
                    <label for="qa1">United States</label>
                    <input type="radio" id="qa2" name="qa1" class="custom-radio" ng-model="country" value="Israel" required>
                    <label for="qa2">Israel</label>
                    <input type="radio" id="qa3" name="qa1" class="custom-radio" ng-model="country" value="Vietnam" required>
                    <label for="qa3">Vietnam</label>
                    <input type="radio" id="qa4" name="qa1" class="custom-radio" ng-model="country" value="India" required>
                    <label for="qa4">India</label>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-2">
                <div class="que-box">Q</div>
            </div>
            <div class="col-lg-22">
                <p class="question-txt">What are the awesome things that you can do with Viber to connect with friends ?
                    <small>Please select as many true</small>
                </p>
                <div class="form-group">
                    <span ng-repeat="awesome in awesomeness">

                                <input type="checkbox" id="{{awesome.id}}" value="{{awesome.value}}" class="custom" ng-model="awesome.checked" ng-click="updateAwesomeValue(awesome)" name="group-one">
                                <label for="{{awesome.id}}" style="margin-right: 0;">{{awesome.value}}</label>

                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-2">
                <div class="que-box">Q</div>
            </div>
            <div class="col-lg-22">
                <p class="question-txt">What do you think are the coolest features of Viber ?
                    <small>Open your heart</small>
                </p>
                <div class="form-group">
                    <textarea name="coolest" type="text" id="" cols="30" rows="5" class="form-control" placeholder="Your answer here…"ng-model="coolest" required></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-2">
                <div class="que-box">Q</div>
            </div>
            <div class="col-lg-22">
                <p class="question-txt">Your personality resonates with which one of these ?</p>
                <div class="form-group">
                    <span ng-repeat="choice in persons">
                        <div class="col-lg-8 control-label">
                            <img ng-src="{{choice.label}}" alt="" class="img-responsive img-center"/>
                            <p class="text-center">
                                <input type="checkbox" id="{{choice.id}}" value="{{choice.value}}" class="custom" ng-model="choice.checked" ng-click="updateQuestionValue(choice)" name="group-one">
                                <label for="{{choice.id}}" style="margin-right: 0;"></label>
                            </p>
                        </div>
                    </span>

                    <!--<div class="col-lg-8 control-label">-->
                        <!--<img src="images/img-check-1.jpg" alt="" class="img-responsive img-center"/>-->
                        <!--<p class="text-center">-->
                            <!--<input type="checkbox" id="o1" ng-true-value="einstein" ng-false-value="nothing" class="custom" ng-model="person1" checked>-->
                            <!--<label for="o1" style="margin-right:0;"></label>-->
                        <!--</p>-->
                    <!--</div>-->
                    <!--<div class="col-lg-8 control-label">-->
                        <!--<img src="images/img-check-2.jpg" alt="" class="img-responsive img-center"/>-->
                        <!--<p class="text-center">-->
                            <!--<input type="checkbox" id="o2" ng-true-value="gandhi" ng-false-value="nothing" class="custom" ng-model="person2">-->
                            <!--<label for="o2" style="margin-right:0;"></label>-->
                        <!--</p>-->
                    <!--</div>-->
                    <!--<div class="col-lg-8 control-label">-->
                        <!--<img src="images/img-check-3.jpg" alt="" class="img-responsive img-center"/>-->
                        <!--<p class="text-center">-->
                            <!--<input type="checkbox" id="o3" ng-true-value="tagore" ng-false-value="nothing" class="custom" ng-model="person3">-->
                            <!--<label for="o3" style="margin-right:0;"></label>-->
                        <!--</p>-->
                    <!--</div>-->

                </div>
            </div>
        </div>
    </div>
    <div class="panel-body custom-form">
        <button type="submit" class="btn btn-success col-lg-offset-2" ng-disabled="!((surveyForm.$valid) && (value1.length!=0) && (value2.length!=0))">submit</button>
    </div>
    </form>

    <!--<div class="panel-body">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-2">-->
                <!--<div class="que-box">Q</div>-->
            <!--</div>-->
            <!--<div class="col-lg-22">-->
                <!--<p class="question-txt">Hear this audio track and name the singer.</p>-->
                <!--<audio controls style="margin-bottom: 20px;">-->
                    <!--<source src="audio/test.mp3" type="audio/mpeg">-->
                    <!--Your browser does not support the audio element.-->
                <!--</audio>-->
                <!--<div class="form-group">-->
                    <!--<input type="radio" id="a1" name="qa2" class="custom-radio" value="" checked>-->
                    <!--<label for="a1">Lorem ipsum</label>-->
                    <!--<input type="radio" id="a2" name="qa2" class="custom-radio" value="">-->
                    <!--<label for="a2">Consectetur adipiscing elit</label>-->
                    <!--<input type="radio" id="a3" name="qa2" class="custom-radio" value="">-->
                    <!--<label for="a3">Mhkkhs juyweljbsj Isdhhsd nsdgjsdweiweio welowueksdwd</label>-->
                    <!--<input type="radio" id="a4" name="qa2" class="custom-radio" value="">-->
                    <!--<label for="a4">Ptgdhg jklkhsgdh nbdjshgfsbd </label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="panel-body">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-2">-->
                <!--<div class="que-box">Q</div>-->
            <!--</div>-->
            <!--<div class="col-lg-22">-->
                <!--<p class="question-txt">Watch this video clip and name the upcoming Hollywood movie.</p>-->
                <!--<video width="100%" height="100%" controls style="margin-bottom: 20px;">-->
                    <!--<source src="audio/test.mp4" type="video/ogg">-->
                    <!--Your browser does not support the video tag.-->
                <!--</video>-->
                <!--<div class="form-group">-->
                    <!--<input type="radio" id="a5" name="qa3" class="custom-radio" value="" checked>-->
                    <!--<label for="a5">Lorem ipsum</label>-->
                    <!--<input type="radio" id="a6" name="qa3" class="custom-radio" value="">-->
                    <!--<label for="a6">Consectetur adipiscing elit</label>-->
                    <!--<input type="radio" id="a7" name="qa3" class="custom-radio" value="">-->
                    <!--<label for="a7">Mhkkhs juyweljbsj Isdhhsd nsdgjsdweiweio welowueksdwd</label>-->
                    <!--<input type="radio" id="a8" name="qa3" class="custom-radio" value="">-->
                    <!--<label for="a8">Ptgdhg jklkhsgdh nbdjshgfsbd </label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="panel-body">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-2">-->
                <!--<div class="que-box">Q</div>-->
            <!--</div>-->
            <!--<div class="col-lg-22">-->
                <!--<p class="question-txt">Watch this video clip and answer the question that follows…</p>-->
                <!--<video width="100%" height="100%" controls style="margin-bottom: 20px;">-->
                    <!--<source src="audio/test.mp4" type="video/ogg">-->
                    <!--Your browser does not support the video tag.-->
                <!--</video>-->
                <!--<p style="font-size: 14px;">Tell us in not more than 100 words what this video means to you?</p>-->
                <!--<div class="form-group">-->
                    <!--<textarea name="" id="" cols="30" rows="5" class="form-control" placeholder="Your answer here…"></textarea>-->
                    <!--<p class="text-right">86</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
</div>