<div class="panel panel-default">
<div class="panel-heading collapsed" data-parent="#panel-l1" data-toggle="collapse" data-target="#collapseFour">
    <h4 class="panel-title pull-left">
        The #GoodVibes Introduction
    </h4>
    
    <span class="pull-right" ng-show="ataskcomplete0"><strong class="icon-tick"></strong></span>
    <span class="pull-right" ng-hide="ataskcomplete0"><strong>1000</strong> vibes </span>
</div>
<div id="collapseFour" class="panel-collapse collapse">
    <div class="panel-body">
        <p><strong>Task description:</strong></p>
        The #GoodVibes Community Introduction is here! Read and learn from the Viber India Team about the brand Viber you all will be associating with for the next 2 months; why this community has been formed with young, dynamic people like you all and what's in store for you.
        Dont forget to answer few simple questions at the end to earn Vibes.
        <br/><br/>
        Get 1000 vibes for answering the questions.
        <br/><br/>
        <!--<video width="100%" height="100%" controls style="margin-bottom: 20px;">-->
            <!--<source ng-src="video/Viber.mp4" type="video/mp4">-->
            <!--Your browser does not support the video tag.-->
        <!--</video>-->
        <!--<iframe width="100%" height="315px" src="//www.youtube.com/embed/EOl4e8wsvHU" frameborder="0" allowfullscreen></iframe>-->
        <p><strong>#GoodVibes Introduction Letter</strong></p>
        <p>Hello,</p><p>

            Thank you for applying to the GoodVibes Brand Ambassador Program. We are very excited to have

            you on board and on behalf of everyone at Viber, not only in India but globally, we would like to

            welcome you aboard. </p><p>

            By downloading and using Viber, you will be a part of 360 million Viber worldwide user base,

            including 20 million in India. Viber is developed by Viber Media, a pioneering mobile messaging

            and VoIP company. Viber users can send free (operator data charges may apply) text messages, fun

            stickers, photos, videos and doodles, share locations anywhere in the world, make free HD-quality

            calls, communicate with Push-To-Talk. Viber seamlessly integrates between Mobiles, Tablets and

            Desktops and is available across different mobile and desktop platforms.Viber is simple to use - it

            integrates effortlessly with your existing address book and uses your cell phone number as your

            Viber ID.</p><p>

            As a GoodVibes ambassador, you would be working on tasks that are going to be full of learning and

            of course, fun. We are sure you have lots of questions and rest assured, you will discover more as

            you progress through the various stages of the program. We would like to emphasize that it is one of

            the first and most important programs for the Viber India Office. Everything that you do as a part of

            this program represents and projects Viber as a brand and so, we have kept not only Viber but also

            you at the heart of every activity.</p><p>

            Therefore, GoodVibes isn’t merely an ambassador program for us; we intend to create a life-long

            connection with you and we’re going to try our best to make this a fruitful experience for you. To

            further instil the spirit of GoodVibes, we’ll be giving away exciting rewards like the latest gadgets,

            trips across India and even a place on the GoodVibes World Tour to the top performer.</p><p>

            We take this opportunity to wish you the very best! Go ahead and spread the Good Vibes!</p>
       <br/><br/> <p ng-show="ataskcomplete0">You have already completed this task</p>
    </div>

    <form ng-hide="ataskcomplete0" name="surveyForm" role="form" ng-submit="submitsurvey(surveyForm.$valid)" ng-controller="vbSurveyCtrl"  novalidate>

    <div class="panel-body">
        <p class="alert-formnote">All questions are mandatory</p>
        <div class="row">
            <div class="col-lg-2">
                <div class="que-box">Q</div>
            </div>
            <div class="col-lg-22">
                <p class="question-txt">How many Viber users are there in India?</p>
                <div class="form-group" required>
                    <input type="radio" name="person" id="person1" value="360 million" class="custom-radio" ng-model="person" required>
                    <label for="person1">360 million</label>
                    <input type="radio" name="person" id="person2" value="20 million" class="custom-radio" ng-model="person" required>
                    <label for="person2">
                        20 million
                    </label>
                </div>
            </div>
        </div>
    </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2">
                    <div class="que-box">Q</div>
                </div>
                <div class="col-lg-22">
                    <p class="question-txt">How do you add contacts on Viber?</p>
                    <div class="form-group" required>
                        <input type="radio" name="old" id="old6m" value="It effortlessly integrates contacts from your address book" class="custom-radio" ng-model="old" required>
                        <label for="old6m">It effortlessly integrates contacts from your address book</label>
                        <input type="radio" name="old" id="old6y" value="You have to add users through their email IDs" class="custom-radio" ng-model="old" required>
                        <label for="old6y">
                            You have to add users through their email IDs
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2">
                    <div class="que-box">Q</div>
                </div>
                <div class="col-lg-22">
                    <p class="question-txt">WWhat is your Viber ID?</p>
                    <div class="form-group" required>
                        <input type="radio" name="learning" id="fca" value="Your email address" class="custom-radio" ng-model="learning" required>
                        <label for="fca">Your email address</label>
                        <input type="radio" name="learning" id="nms" value="Your mobile number" class="custom-radio" ng-model="learning" required>
                        <label for="nms">
                            Your mobile number
                        </label>
                    </div>
                </div>
            </div>
        </div>
    <div class="panel-body custom-form">
        <button type="submit" class="btn btn-success col-lg-offset-2" ng-disabled="surveyForm.$invalid">submit</button>
    </div>
    </form>

    <!--<div class="panel-body">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-2">-->
                <!--<div class="que-box">Q</div>-->
            <!--</div>-->
            <!--<div class="col-lg-22">-->
                <!--<p class="question-txt">Hear this audio track and name the singer.</p>-->
                <!--<audio controls style="margin-bottom: 20px;">-->
                    <!--<source src="audio/test.mp3" type="audio/mpeg">-->
                    <!--Your browser does not support the audio element.-->
                <!--</audio>-->
                <!--<div class="form-group">-->
                    <!--<input type="radio" id="a1" name="qa2" class="custom-radio" value="" checked>-->
                    <!--<label for="a1">Lorem ipsum</label>-->
                    <!--<input type="radio" id="a2" name="qa2" class="custom-radio" value="">-->
                    <!--<label for="a2">Consectetur adipiscing elit</label>-->
                    <!--<input type="radio" id="a3" name="qa2" class="custom-radio" value="">-->
                    <!--<label for="a3">Mhkkhs juyweljbsj Isdhhsd nsdgjsdweiweio welowueksdwd</label>-->
                    <!--<input type="radio" id="a4" name="qa2" class="custom-radio" value="">-->
                    <!--<label for="a4">Ptgdhg jklkhsgdh nbdjshgfsbd </label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="panel-body">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-2">-->
                <!--<div class="que-box">Q</div>-->
            <!--</div>-->
            <!--<div class="col-lg-22">-->
                <!--<p class="question-txt">Watch this video clip and name the upcoming Hollywood movie.</p>-->
                <!--<video width="100%" height="100%" controls style="margin-bottom: 20px;">-->
                    <!--<source src="audio/test.mp4" type="video/ogg">-->
                    <!--Your browser does not support the video tag.-->
                <!--</video>-->
                <!--<div class="form-group">-->
                    <!--<input type="radio" id="a5" name="qa3" class="custom-radio" value="" checked>-->
                    <!--<label for="a5">Lorem ipsum</label>-->
                    <!--<input type="radio" id="a6" name="qa3" class="custom-radio" value="">-->
                    <!--<label for="a6">Consectetur adipiscing elit</label>-->
                    <!--<input type="radio" id="a7" name="qa3" class="custom-radio" value="">-->
                    <!--<label for="a7">Mhkkhs juyweljbsj Isdhhsd nsdgjsdweiweio welowueksdwd</label>-->
                    <!--<input type="radio" id="a8" name="qa3" class="custom-radio" value="">-->
                    <!--<label for="a8">Ptgdhg jklkhsgdh nbdjshgfsbd </label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="panel-body">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-2">-->
                <!--<div class="que-box">Q</div>-->
            <!--</div>-->
            <!--<div class="col-lg-22">-->
                <!--<p class="question-txt">Watch this video clip and answer the question that follows…</p>-->
                <!--<video width="100%" height="100%" controls style="margin-bottom: 20px;">-->
                    <!--<source src="audio/test.mp4" type="video/ogg">-->
                    <!--Your browser does not support the video tag.-->
                <!--</video>-->
                <!--<p style="font-size: 14px;">Tell us in not more than 100 words what this video means to you?</p>-->
                <!--<div class="form-group">-->
                    <!--<textarea name="" id="" cols="30" rows="5" class="form-control" placeholder="Your answer here…"></textarea>-->
                    <!--<p class="text-right">86</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
</div>