
<div class="panel panel-default">
<div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseOne">
    <h4 class="panel-title pull-left">
        Upload a Viber #goodvibes selfie
    </h4>
                        <span class="pull-right panel-right-info"><strong>200</strong> vibes
                           <!-- <small>10 vibes pending approval</small> -->
                        </span>
</div>

<div id="collapseOne" class="panel-collapse collapse">
    <div class="panel-body">
        <p><strong>Task description:</strong></p>
        Post a #goodvibes selfie on your timeline. The selfie with maximum likes on Facebook and Retweets on Twitter wins. 20 Vibes for every like and retweet
    </div>
    <div class="panel-body">
        <div class="upload-nav text-right">
            <span class="alert-success pull-left">{{submitted}} submitted successfully</span>
            <ul>
                <li class="active"><a href="#added" data-toggle="tab">{{selected}} Added</a></li>
                <!--<li><a href="#pending" data-toggle="tab">12 Pending Approval</a></li>
                <li><a href="#rejected" data-toggle="tab" class="rejected-photo">6 Rejected</a></li>-->
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade in active new-upload" id="added">
                <a href="#." onclick="document.getElementById('fileID').click(); return false;"class="upload-img">
                    <span class="icon-plus-circle"></span>
                    upload<br>
                    photos
                </a>
                <input type="file" id="fileID" style="visibility: hidden;" ng-file-select="onFileSelect($files)" multiple/>
                <p style="margin-left: 18px;">
                    <button type="submit" class="btn btn-success radius-none" ng-click="onFileUpload()">submit</button>
                </p>
            </div>

        </div>


    </div>
</div>
    </div>