<div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#collapseTwo">
        <h4 class="panel-title pull-left">
            Get vowed by Stickers
        </h4>
                        <span class="pull-right"><strong>500</strong> vibes
                        </span>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
            <p><strong>Task description:</strong></p>
            Let everyone know how you can be the winner of the Viber #GoodVibes World Tour and see all the happening places in the world for free - Courtesy: Viber India.                                                  Share the Viber #GoodVibes Video on your Facebook timeline with a catchy caption. Make sure you grab everyone's attention.
            <p><br/><br/>

                <iframe width="100%" height="315px" src="//www.youtube.com/embed/12n9qipCYno" frameborder="0" allowfullscreen></iframe>
                <!--<video width="100%" height="100%" controls style="margin-bottom: 20px;">
                <source src="audio/test.mp4" type="video/ogg">
                Your browser does not support the video tag.
            </video>-->

            </p>

        </div>
        <!--<div class="panel-body">-->
            <!--<ul class="add-link-tab">-->
                <!--<li class="active"><a href="#add-social-link" target="_self" data-toggle="tab">Add Social link</a></li>-->
                <!--<li ng-model="answers" ng-show="answers.length > 0"><a href="#show-social-links" target="_self" data-toggle="tab">{{answers.length}} social link/s shared</a></li>-->
            <!--</ul>-->
            <!--<div class="tab-content custom-form">-->
                <!--<div class="tab-pane fade in active" id="add-social-link">-->
                  <!--&lt;!&ndash;<form name="taskForm" ng-submit="submitForm(taskForm.$valid)" novalidate>&ndash;&gt;-->
                   <!--<div class="form-group">-->
                        <!--<input type="text" class="form-control data_field" name="data_field"-->
                               <!--placeholder="video url" value="https://www.youtube.com/watch?v=12n9qipCYno" ng-model="link" ng-readonly="true">-->
                        <!--<span class="icon_clear icon-close-circle"></span>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<textarea name="message" id="" cols="30" rows="5" class="form-control"-->
                                  <!--placeholder="#goodvibes your message" ng-model="message" required ng-maxlength="120"></textarea>-->
                    <!--</div>-->
                    <!--<p ng-show="taskForm.message.$invalid && !taskForm.message.$pristine" class="help-block">Your message can only be 120 characters long</p>-->
                    <!--<div class="form-group">-->
                        <!--<div class="pull-right">-->
                            <!--<input type="checkbox" id="post-fb" value="option1" ng-model="checkedfb"  class="custom icon-checked" >-->
                            <!--<label for="post-fb">-->
                                <!--<span class="circle-icon-fb" ng-class="{'social-active': checkedfb==true}"></span>-->
                            <!--</label>-->
                            <!--<input type="checkbox" id="post-tw" value="option2" ng-model="checkedtw" class="custom icon-checked">-->
                            <!--<label for="post-tw">-->
                                <!--<span class="circle-icon-tw" ng-class="{'social-active': checkedtw==true}"></span>-->
                            <!--</label>-->
                            <!--&lt;!&ndash;<input type="checkbox" id="post-g" value="option2" class="custom icon-checked">-->
                            <!--<label for="post-g">-->
                                <!--<span class="circle-icon-g"></span>-->
                            <!--</label>&ndash;&gt;-->
                            <!--<button type="submit" class="btn btn-success" ng-disabled="taskForm.$invalid">submit</button>-->
                        <!--</div>-->

                    <!--</div>-->
                  <!--</form>-->
                <!--</div>-->
                <!--<div class="tab-pane fade" id="show-social-links">-->
                    <!--<ul class="list-group social-link-list">-->

                        <!--<li class="list-group-item" ng-model="answers" ng-repeat="answer in answers">-->
                            <!--<p><a href="#.">{{answer.link}}</a></p>-->

                            <!--<div class="row">-->
                                <!--<div class="col-sm-18">-->
                                    <!--{{answer.message}}-->
                                <!--</div>-->
                                <!--<div class="col-sm-6">-->
                                    <!--<ul class="view-share">-->
                                        <!--<li class="circle-icon-fb" ng-class="{'social-active' : answer.fbsuccess == true}"></li>-->
                                        <!--<li class="circle-icon-tw"  ng-class="{'social-active' : answer.twsuccess == true}"></li>-->
                                        <!--&lt;!&ndash;<li class="circle-icon-g"></li>&ndash;&gt;-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                    <!--<a href="#." target="_self" class="pull-right">+ post more</a>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>