
<div class="panel panel-default">
<div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseOne">
    <h4 class="panel-title pull-left">
        Upload photos
    </h4>
                        <span class="pull-right panel-right-info"><strong>145</strong> vibes
                            <small>10 vibes pending approval</small>
                        </span>
</div>

<div id="collapseOne" class="panel-collapse collapse">
    <div class="panel-body">
        <p><strong>Task description:</strong></p>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
        squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
        nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
        beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
        lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
        probably haven't heard of them accusamus labore sustainable VHS.
    </div>
    <div class="panel-body">
        <div class="upload-nav text-right">
            <span class="alert-success pull-left">12 submitted successfully</span>
            <ul>
                <li class="active"><a href="#added" data-toggle="tab">45 Added</a></li>
                <li><a href="#pending" data-toggle="tab">12 Pending Approval</a></li>
                <li><a href="#rejected" data-toggle="tab" class="rejected-photo">6 Rejected</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade in active new-upload" id="added">
                <a href="#."><img src="images/upload-img1.jpg" class="img-responsive" alt=""/></a>
                <a href="#."><img src="images/upload-img2.jpg" class="img-responsive" alt=""/></a>
                <a href="#."><img src="images/upload-img3.jpg" class="img-responsive" alt=""/></a>
                <a href="#."><img src="images/upload-img4.jpg" class="img-responsive" alt=""/></a>
                <a href="#."><img src="images/upload-img5.jpg" class="img-responsive" alt=""/></a>
                <a href="#." class="upload-img">
                    <span class="icon-plus-circle"></span>
                    upload<br>
                    more photos
                </a>

                <p style="margin-left: 18px;">
                    <button type="submit" class="btn btn-success radius-none">submit</button>
                </p>
            </div>
            <div class="tab-pane fade pending-approval" id="pending">
                <a href="#."><img src="images/upload-img1.jpg" class="img-responsive" alt=""/></a>
                <a href="#."><img src="images/upload-img2.jpg" class="img-responsive" alt=""/></a>
                <a href="#."><img src="images/upload-img3.jpg" class="img-responsive" alt=""/></a>
                <a href="#."><img src="images/upload-img4.jpg" class="img-responsive" alt=""/></a>
                <a href="#."><img src="images/upload-img5.jpg" class="img-responsive" alt=""/></a>
            </div>
            <div class="tab-pane fade rejected-upload" id="rejected">
                <a href="#."><img src="images/upload-img1.jpg" class="img-responsive" alt=""/></a>
                <a href="#."><img src="images/upload-img2.jpg" class="img-responsive" alt=""/></a>
                <a href="#."><img src="images/upload-img3.jpg" class="img-responsive" alt=""/></a>
                <a href="#."><img src="images/upload-img4.jpg" class="img-responsive" alt=""/></a>
                <a href="#."><img src="images/upload-img5.jpg" class="img-responsive" alt=""/></a>

                <p style="margin-left: 18px;">
                    <button type="submit" class="btn btn-success radius-none">delete all</button>
                </p>
            </div>

        </div>


    </div>
</div>
    </div>