<div class="panel panel-default">
    <div class="panel-heading collapsed" data-parent="#panel-l1" data-toggle="collapse" data-target="#collapseThree">
        <h4 class="panel-title pull-left">
            Insert Mobile Numbers
        </h4>
        <span class="pull-right"><strong>20</strong> vibes</span>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
            <p><strong>Task description:</strong></p>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
            beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
            probably haven't heard of them accusamus labore sustainable VHS.
        </div>
        <div class="panel-body">
            <ul class="add-link-tab">
                <li class="active"><a href="#add-mobiles" data-toggle="tab">Add mobile numbers</a></li>
                <li><a href="#show-mobiles" data-toggle="tab">10 mobile numbers added</a></li>
            </ul>
            <div class="tab-content custom-form row">
                <div class="tab-pane fade in active col-sm-19" id="add-mobiles">
                    <form action="#." method="post" id="mobile-form">
                        <div id="add-me">
                            <div class="form-group">
                                <input type="text" class="form-control data_field" name="data_field" value="9890876542">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control data_field" name="data_field" value="8007977654">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control data_field" name="data_field"
                                       value="67898554728">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control data_field" name="data_field" value="9890876542">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control data_field" name="data_field" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <a href="#." class="pull-left" id="add-more-mobiles">+ 5 more</a>

                            <div class="pull-right">
                                <button type="submit" class="btn btn-success">submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="show-mobiles">
                    <table class="table table-bordered" width="100%">
                        <tr>
                            <td>67898554728</td>
                            <td>67898554728</td>
                            <td>67898554728</td>
                        </tr>
                        <tr>
                            <td>67898554728</td>
                            <td>67898554728</td>
                            <td>67898554728</td>
                        </tr>
                        <tr>
                            <td>67898554728</td>
                            <td>67898554728</td>
                            <td>67898554728</td>
                        </tr>
                        <tr>
                            <td>67898554728</td>
                            <td>67898554728</td>
                            <td>67898554728</td>
                        </tr>
                        <tr>
                            <td>67898554728</td>
                            <td>67898554728</td>
                            <td>67898554728</td>
                        </tr>
                        <tr>
                            <td>67898554728</td>
                            <td>67898554728</td>
                            <td>67898554728</td>
                        </tr>
                        <tr>
                            <td>67898554728</td>
                            <td>67898554728</td>
                            <td>67898554728</td>
                        </tr>
                    </table>
                    <a href="#." class="pull-right">+ show more</a>
                </div>
            </div>
        </div>
    </div>
</div>