<div class="panel panel-default">
<div class="panel-heading collapsed" data-parent="#panel-l1" data-toggle="collapse" data-target="#collapseFour">
    <h4 class="panel-title pull-left">
        The #GoodVibes Introduction Video
    </h4>
    
    <span class="pull-right" ng-show="ataskcomplete0"><strong class="icon-tick"></strong></span>
    <span class="pull-right" ng-hide="ataskcomplete0"><strong>1000</strong> vibes </span>
</div>
<div id="collapseFour" class="panel-collapse collapse">
    <div class="panel-body">
        <p><strong>Task description:</strong></p>
        The #GoodVibes Community Introduction Video is here! Watch and learn from the Viber India Team about the brand Viber you all will be associating with for the next 2 months; why this community has been formed with young, dynamic people like you all and what's in store for you.
        Dont forget to answer few simple questions at the end to earn Vibes.
        <br/><br/>
        Get 500 vibes for viewing the video and 500 vibes for answering the questions.
        <br/><br/>
        <video width="100%" height="100%" controls style="margin-bottom: 20px;">
            <source ng-src="/video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <!--<iframe width="100%" height="315px" src="//www.youtube.com/embed/EOl4e8wsvHU" frameborder="0" allowfullscreen></iframe>-->
        <p ng-show="ataskcomplete0">You have already completed this task</p>
    </div>

    <form ng-hide="ataskcomplete0" name="surveyForm" role="form" ng-submit="submit(surveyForm.$valid)" ng-controller="vbSurveyCtrl"  novalidate>

    <div class="panel-body">
        <p class="alert-formnote">All questions are mandatory</p>
        <div class="row">
            <div class="col-lg-2">
                <div class="que-box">Q</div>
            </div>
            <div class="col-lg-22">
                <p class="question-txt">Who is the person speaking in this video?</p>
                <div class="form-group" required>
                    <input type="radio" name="person" id="person1" value="Varun, Digital marketing and PR Manager" class="custom-radio" ng-model="person" required>
                    <label for="person1">Varun, Digital marketing and PR Manager</label>
                    <input type="radio" name="person" id="person2" value="Abhay, Film Director" class="custom-radio" ng-model="person" required>
                    <label for="person2">
                        Abhay, Film Director
                    </label>
                </div>
            </div>
        </div>
    </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2">
                    <div class="que-box">Q</div>
                </div>
                <div class="col-lg-22">
                    <p class="question-txt">How old is the Viber India office?</p>
                    <div class="form-group" required>
                        <input type="radio" name="old" id="old6m" value="6 months" class="custom-radio" ng-model="old" required>
                        <label for="old6m">6 months</label>
                        <input type="radio" name="old" id="old6y" value="6 years" class="custom-radio" ng-model="old" required>
                        <label for="old6y">
                            6 years
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2">
                    <div class="que-box">Q</div>
                </div>
                <div class="col-lg-22">
                    <p class="question-txt">What are the 3 biggest learnings of this internship?</p>
                    <div class="form-group" required>
                        <input type="radio" name="learning" id="fca" value="Finance, commerce and Accounts" class="custom-radio" ng-model="learning" required>
                        <label for="fca">Finance, commerce and Accounts</label>
                        <input type="radio" name="learning" id="nms" value="Networking, marketing and social media" class="custom-radio" ng-model="learning" required>
                        <label for="nms">
                            Networking, marketing and social media
                        </label>
                    </div>
                </div>
            </div>
        </div>
    <div class="panel-body custom-form">
        <button type="submit" class="btn btn-success col-lg-offset-2" ng-disabled="surveyForm.$invalid">submit</button>
    </div>
    </form>

    <!--<div class="panel-body">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-2">-->
                <!--<div class="que-box">Q</div>-->
            <!--</div>-->
            <!--<div class="col-lg-22">-->
                <!--<p class="question-txt">Hear this audio track and name the singer.</p>-->
                <!--<audio controls style="margin-bottom: 20px;">-->
                    <!--<source src="audio/test.mp3" type="audio/mpeg">-->
                    <!--Your browser does not support the audio element.-->
                <!--</audio>-->
                <!--<div class="form-group">-->
                    <!--<input type="radio" id="a1" name="qa2" class="custom-radio" value="" checked>-->
                    <!--<label for="a1">Lorem ipsum</label>-->
                    <!--<input type="radio" id="a2" name="qa2" class="custom-radio" value="">-->
                    <!--<label for="a2">Consectetur adipiscing elit</label>-->
                    <!--<input type="radio" id="a3" name="qa2" class="custom-radio" value="">-->
                    <!--<label for="a3">Mhkkhs juyweljbsj Isdhhsd nsdgjsdweiweio welowueksdwd</label>-->
                    <!--<input type="radio" id="a4" name="qa2" class="custom-radio" value="">-->
                    <!--<label for="a4">Ptgdhg jklkhsgdh nbdjshgfsbd </label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="panel-body">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-2">-->
                <!--<div class="que-box">Q</div>-->
            <!--</div>-->
            <!--<div class="col-lg-22">-->
                <!--<p class="question-txt">Watch this video clip and name the upcoming Hollywood movie.</p>-->
                <!--<video width="100%" height="100%" controls style="margin-bottom: 20px;">-->
                    <!--<source src="audio/test.mp4" type="video/ogg">-->
                    <!--Your browser does not support the video tag.-->
                <!--</video>-->
                <!--<div class="form-group">-->
                    <!--<input type="radio" id="a5" name="qa3" class="custom-radio" value="" checked>-->
                    <!--<label for="a5">Lorem ipsum</label>-->
                    <!--<input type="radio" id="a6" name="qa3" class="custom-radio" value="">-->
                    <!--<label for="a6">Consectetur adipiscing elit</label>-->
                    <!--<input type="radio" id="a7" name="qa3" class="custom-radio" value="">-->
                    <!--<label for="a7">Mhkkhs juyweljbsj Isdhhsd nsdgjsdweiweio welowueksdwd</label>-->
                    <!--<input type="radio" id="a8" name="qa3" class="custom-radio" value="">-->
                    <!--<label for="a8">Ptgdhg jklkhsgdh nbdjshgfsbd </label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="panel-body">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-2">-->
                <!--<div class="que-box">Q</div>-->
            <!--</div>-->
            <!--<div class="col-lg-22">-->
                <!--<p class="question-txt">Watch this video clip and answer the question that follows…</p>-->
                <!--<video width="100%" height="100%" controls style="margin-bottom: 20px;">-->
                    <!--<source src="audio/test.mp4" type="video/ogg">-->
                    <!--Your browser does not support the video tag.-->
                <!--</video>-->
                <!--<p style="font-size: 14px;">Tell us in not more than 100 words what this video means to you?</p>-->
                <!--<div class="form-group">-->
                    <!--<textarea name="" id="" cols="30" rows="5" class="form-control" placeholder="Your answer here…"></textarea>-->
                    <!--<p class="text-right">86</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
</div>