<div class="panel panel-default">
    <div class="panel-heading collapsed" data-parent="#panel-l1" data-toggle="collapse" data-target="#collapseTwo">
        <h4 class="panel-title pull-left">
            Get wowed by Stickers
        </h4>
        <span class="pull-right" ng-show="taskcomplete4"><strong class="icon-tick"></strong></span>
        <span class="pull-right" ng-hide="taskcomplete4"><strong>1000</strong> vibes </span>

    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
            <p><strong>Task description:</strong></p>
            Watch the video and see how group conversations are fun & beyond boring text message. Watch this fun video to understand how

            effectively one can use stickers.

            <br/><br/> Rate the video and win 1000 vibes.
            <p><br/><br/>

                <iframe width="100%" height="315px" src="//www.youtube.com/embed/12n9qipCYno" frameborder="0" allowfullscreen></iframe>
                <!--<video width="100%" height="100%" controls style="margin-bottom: 20px;">
                <source src="audio/test.mp4" type="video/ogg">
                Your browser does not support the video tag.
            </video>-->
            <p ng-show="taskcomplete4">You have already completed this task</p>
            </p>

        </div>
        <div class="panel-body">
            <!--<ul class="add-link-tab">-->
                <!--<li class="active"><a href="#add-social-link" target="_self" data-toggle="tab">Add Social link</a></li>-->
                <!--<li ng-model="answers" ng-show="answers.length > 0"><a href="#show-social-links" target="_self" data-toggle="tab">{{answers.length}} social link/s shared</a></li>-->
            <!--</ul>-->
            <div class="tab-content custom-form">
                <div class="tab-pane fade in active" id="add-social-link">
                  <form name="taskForm" ng-hide="taskcomplete4" ng-submit="submitForml1t3(taskForm.$valid)" novalidate>
                          <div class="row">
                              <div class="col-lg-2">
                                  <div class="que-box">Q</div>
                              </div>
                              <div class="col-lg-22">
                                  <p class="question-txt">Rate this video.
                                      <small>Please select one</small>
                                  </p>
                                  <div class="form-group">
                                      <input type="radio" id="ra11" name="rate1" class="custom-radio" ng-model="rate" value="1" required>
                                      <label for="ra11">Bad Vibes</label>
                                      <input type="radio" id="ra21" name="rate1" class="custom-radio" ng-model="rate" value="2" required>
                                      <label for="ra21">Can be better?</label>
                                      <input type="radio" id="ra31" name="rate1" class="custom-radio" ng-model="rate" value="3" required>
                                      <label for="ra31">It's nice</label>
                                      <input type="radio" id="ra41" name="rate1" class="custom-radio" ng-model="rate" value="4" required>
                                      <label for="ra41">Good Vibes</label>
                                      <input type="radio" id="ra51" name="rate1" class="custom-radio" ng-model="rate" value="5" required>
                                      <label for="ra51">Epic Vibes</label>
                                  </div>
                              </div>
                          </div>
                    <p ng-show="taskForm.message.$invalid && !taskForm.message.$pristine" class="help-block">Your message can only be 120 characters long</p>
                    <div class="form-group">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success" ng-disabled="taskForm.$invalid">submit</button>
                        </div>

                    </div>

                  </form>
                </div>
            </div>
        </div>
    </div>
</div>