<div class="panel panel-default">
    <div class="panel-heading collapsed" data-parent="#panel-l4" data-toggle="collapse" data-target="#collapseThree2">
        <h4 class="panel-title pull-left">
            Win a Free Weekend Getaway to Goa with your friends!!
        </h4>
        <span class="pull-right" ng-show="taskcomplete42"><strong class="icon-tick"></strong></span>
        <span class="pull-right" ng-hide="taskcomplete42"><strong>2500</strong> vibes </span>

    </div>

    <div id="collapseThree2" class="panel-collapse collapse">
        <div class="panel-body">
            <p><strong>Task description:</strong></p>
            Your Closest Friends group on Viber can make all of you win an all expense paid Holiday to Goa! Keep your Viber group active everyday throughout the internship and the 10 most active groups on Viber will win a trip to Goa at the end of the program. Here's an immediate gratification! The top 50 most active groups of the week will be rewarded weekly.            <br/><br/>
        </div>
        <div class="panel-body">
            <div class="upload-nav text-right">
                <!--<span ng-show="s3success31" class="alert-success pull-left">{{added31}} added successfully</span>-->
                <span class="alert-success pull-right">{{submitted42}} Submitted</span>
                <!--<ul>-->
                <!--<li class="active"><a href="#added" target="_self" data-toggle="tab">{{submitted}} Submitted</a></li>-->
                <!--&lt;!&ndash;<li><a href="#pending" data-toggle="tab">12 Pending Approval</a></li>-->
                <!--<li><a href="#rejected" data-toggle="tab" class="rejected-photo">6 Rejected</a></li>&ndash;&gt;-->
                <!--</ul>-->
            </div>
            <form name="photoForm" ng-submit="onFileUploadl4task2()" novalidate>
                <div class="tab-pane fade in active new-upload">
                    <a ng-model="serSubmitted42" ng-repeat="serSubmit in serSubmitted42" href=""><img ng-src="https://s3-ap-southeast-1.amazonaws.com/viber-uploads/level4task2/{{serSubmit}}" height="78" width="78" alt=""/></a>
                    <a ng-model="s3added42" ng-repeat="s3add in s3added42" href=""><img ng-src="{{s3add}}" height="78" width="78" alt=""/></a>


                    <a ng-if="!taskcomplete42" href="#." onclick="document.getElementById('filel4task2').click(); return false;"class="upload-img">
                        <span class="icon-plus-circle"></span>
                        Choose<br>
                        photos
                    </a>
                    <input id="filel4task2" type="file" accept="image/*" style="visibility: hidden;" ng-file-select="onFileSelectl4task2($files)"/>
                    <p style="margin-left: 18px;">
                        <button ng-if="!taskcomplete42"type="submit" class="btn btn-success radius-none" ng-disabled="zeroselected42">submit</button>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
</div>